.nue-breadcrumb-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    font-size: var(--nue-text-sm);
    color: var(--nue-primary-color-600);

    .nue-link {
        --font-size: var(--nue-text-sm);
        --color: var(--nue-primary-color-500);
        --hover-color: var(--nue-primary-color-900);

        &.nue-link--actived {
            --hover-text-decoration: none;
            color: var(--nue-primary-color-900);
            font-weight: 500;
            cursor: default;
        }
    }
}
