.nue-breadcrumb {
    --nue-breadcrumb-font-size: 0.875rem;
    --nue-breadcrumb-sperator-color: gray;

    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    margin: 0;
    list-style: none;

    .nue-breadcrumb-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: nowrap;
        font-size: var(--nue-breadcrumb-font-size);
        user-select: none;
        -webkit-user-select: none;
    }

    .nue-breadcrumb__separator {
        display: flex;
        align-items: center;
        justify-content: center;

        --icon-size: var(--nue-breadcrumb-font-size);
        --icon-color: var(--nue-breadcrumb-sperator-color);

        &:last-of-type {
            display: none;
        }
    }
}
