html.nue-reset-html *,
html.nue-html * {
    scrollbar-width: thin;
    scrollbar-color: var(--nue-divider-color) transparent;

    &::-webkit-scrollbar {
        width: var(--nue-primary-radius);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--nue-divider-color);
        border-radius: var(--nue-primary-radius);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
