/* Variables */

.infinite-scroll-wrapper {
    --font-color: var(--mainly-color);
    --font-size: var(--mainly-font-size);
    --font-weight: var(--mainly-font-weight);
    --font-family: var(--mainly-font-family);

    --height: 100%;
    --trigger-bar-height: 50px;
}

/* Original Styles */

.infinite-scroll-wrapper {
    height: var(--height);
    overflow: auto;

    .infinite-scroll {
        position: relative;
        width: 100%;

        .infinite-scroll__trigger-bar {
            position: absolute;
            width: 100%;
            height: var(--trigger-bar-height);
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
        }

        .infinite-scroll__loading,
        .infinite-scroll__disabled {
            color: var(--font-color);
            font-size: var(--font-size);
            font-weight: var(--font-weight);
            font-family: var(--font-family);

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            height: calc(var(--font-size) * 3);

            border-radius: 12px;
            margin-top: 16px;
        }

        .infinite-scroll__disabled {
            color: #696969;
            background-color: #f9f9f9;
        }
    }
}
