/* variables */

.infinite-scroll-wrapper {
    --wrapper-height: 100%;
    --trigger-bar-height: 1px;
}

/* original */

.infinite-scroll-wrapper {
    width: 100%;
    height: var(--wrapper-height);
    /*overflow: auto;*/

    .infinite-scroll {
        position: relative;
        width: 100%;

        .infinite-scroll__trigger-bar {
            position: absolute;
            width: 100%;
            height: var(--trigger-bar-height);
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
        }

        .infinite-scroll__loading,
        .infinite-scroll__disabled {
            padding: calc(var(--nue-ui-primary-padding) * 0.5)
                var(--nue-ui-primary-padding);
            border-radius: var(--nue-ui-primary-radius);
            margin-top: var(--nue-ui-primary-padding);
            text-align: center;
        }

        .infinite-scroll__disabled {
            color: var(--nue-ui-disabled-color);
        }
    }
}
