/* variables */

.nue-link {
    --font-size: var(--nue-ui-text-default);
    --font-weight: var(--nue-ui-primary-font-weight);
    --text-decoration: none;
    --color: #5a8dff;
    --background-color: transparent;
    --hover-color: #3876ff;
    --hover-border-color: transparent;
    --hover-background-color: transparent;
    --hover-text-decoration: underline;
    --disable-color: var(--nue-ui-disabled-color);
    --disable-border-color: transparent;
    --disable-background-color: #cccccc99;
    --actived-color: #0754ff;
}

.nue-link--btnlike,
.nue-link--rl {
    --vgap: 12px;
    --flex: unset;
    --color: var(--nue-ui-primary-text-color);
    --border-color: transparent;
    --background-color: transparent;
    --hover-color: var(--nue-ui-primary-color-100);
    --hover-border-color: transparent;
    --hover-background-color: var(--nue-ui-primary-color-700);
    --active-color: var(--hover-color);
    --active-border-color: var(--hover-border-color);
    --active-background-color: var(--nue-ui-primary-color-900);
    --disable-color: var(--nue-ui-disabled-color);
    --disable-border-color: var(--border-color);
    --disable-background-color: var(--nue-ui-primary-color-200);
    --actived-color: var(--active-color);
    --actived-border-color: var(--active-border-color);
    --actived-background-color: var(--active-background-color);
    --hover-text-decoration: none;
}

/* original */

.nue-link {
    --icon-size: var(--font-size);
    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-decoration: var(--text-decoration);
    transition: all 0.16s ease-out;
    cursor: pointer;

    &:hover {
        color: var(--hover-color);
        background-color: var(--hover-background-color);
        text-decoration: var(--hover-text-decoration);
    }
}

.nue-link--disabled,
.nue-link--disabled:hover {
    color: var(--disable-color);
    background-color: var(--hover-background-color);
    cursor: not-allowed;
}

.nue-link--actived {
    color: var(--actived-color);
}

/* Built-in styles */

.nue-link--btnlike,
.nue-link--rl {
    display: flex;
    align-items: center;
    justify-content: var(--justify-content);
    gap: var(--vgap);
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: calc(var(--vgap) * 0.5) var(--vgap);
    flex: var(--flex);
    border: 1px solid var(--border-color);
    border-radius: var(--nue-ui-primary-radius);
    background-color: var(--background-color);
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.16s ease-out;
    color: var(--color);
    font-size: var(--nue-ui-text-default);
    font-weight: var(--nue-ui-primary-font-weight);
    font-family: var(--nue-ui-primary-font-family), sans-serif;
    line-height: normal;
    --icon-size: var(--nue-ui-text-default);
    --icon-weight: var(--nue-ui-primary-font-weight);

    .nue-link__content {
        flex: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }

    &:active {
        color: var(--active-color);
        border-color: var(--active-border-color);
        background-color: var(--active-background-color);
    }

    &.nue-link--actived {
        color: var(--actived-color);
        border-color: var(--actived-border-color);
        background-color: var(--actived-background-color);
    }

    &.nue-link--rl-s {
        --vgap: 8px;
        font-size: var(--nue-ui-text-sm);
        --icon-size: var(--nue-ui-text-sm);
    }

    &.nue-link--rl-l {
        --vgap: 16px;
        font-size: var(--nue-ui-text-md);
        --icon-size: var(--nue-ui-text-md);
    }
}
