/* Variables */

.nue-link {
    --font-size: var(--primary-font-size);
    --font-weight: 500;

    --text-decoration: none;
    --hover-text-decoration: underline;

    --color: var(--primary-color-a200);
    --hover-color: var(--primary-color-a700);
    --disable-color: var(--disabled-color);

    --hover-border-color: transparent;
    --disable-border-color: transparent;

    --background-color: transparent;
    --hover-background-color: transparent;
    --disable-background-color: #cccccc99;
}

.nue-link--btnlike {
    --width: auto;
    --height: 36px;
    --line-height: var(--primary-line-height);
    --padding-x: var(--font-size);
    --padding-y: var(--secondary-padding);
    --flex: none;
    --justify-content: start;
    --gap: var(--secondary-gap);
    --border-radius: var(--primary-radius);
    --hover-text-decoration: none;

    --font-size: var(--text-sm);
    --font-weight: var(--primary-font-weight);
    --font-family: var(--primary-font-family);

    --color: var(--primary-text-color);
    --hover-color: var(--color);
    --active-color: var(--color);
    --disable-color: var(--color);
    --actived-color: var(--primary-color-50);

    --border-color: white;
    --hover-border-color: var(--border-color);
    --active-border-color: var(--border-color);
    --disable-border-color: var(--border-color);
    --actived-border-color: var(--active-border-color);

    --hover-background-color: var(--primary-color-300);
    --active-background-color: var(--primary-color-300);
    --disable-background-color: var(--primary-color-200);
    --actived-background-color: var(--primary-text-color);
}

/* Original styles */

.nue-link {
    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
    text-decoration: var(--text-decoration);
    transition: all 0.16s ease-out;

    &:hover {
        color: var(--hover-color);
        background-color: var(--hover-background-color);
        text-decoration: var(--hover-text-decoration);
    }

    &.nue-link--disabled {
        color: var(--disable-color);
        background-color: var(--hover-background-color);
        cursor: not-allowed;
    }
}

/* Built-in styles */

.nue-link--btnlike {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: var(--justify-content);
    gap: var(--gap);
    width: var(--width);
    height: var(--height);
    line-height: var(--line-height);
    padding: var(--padding-y, 0px) var(--padding-x, 0px);
    flex: var(--flex);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.16s ease-out;
    overflow: hidden;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    line-height: normal;

    .nue-link__append {
        display: flex;
        align-items: center;
        gap: var(--gap);
        margin-left: auto;
    }

    &:active {
        color: var(--active-color);
        border-color: var(--active-border-color);
        background-color: var(--active-background-color);
    }

    &.nue-link--actived {
        color: var(--actived-color);
        border-color: var(--actived-border-color);
        background-color: var(--actived-background-color);
    }
}
