/* variables */

.nue-collapse {
    --nue-collapse-animate-duration: 0.32s;
}

/* original */

.nue-collapse {
    display: flex;
    flex-direction: column;
    gap: var(--nue-ui-secondary-padding);
    width: 100%;
    padding: var(--nue-ui-secondary-padding) 0;
    box-sizing: border-box;

    .nue-collapse-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: var(--nue-ui-secondary-padding);
        /*background-color: var(--nue-ui-primary-color-200);*/
        border-radius: var(--nue-ui-primary-radius);
        box-sizing: border-box;
        transition: all var(--nue-collapse-animate-duration) ease;

        .nue-collapse-item__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--nue-ui-secondary-padding);
            -webkit-user-select: none;
            user-select: none;
            box-shadow: 0 1px var(--nue-ui-divider-color);
            color: var(--nue-ui-primary-text-color);

            .nue-collapse-item__toggle-button,
            .outter-toggle-button {
                transition: all var(--nue-collapse-animate-duration) ease;
            }
        }

        .nue-collapse-item__content {
            overflow: hidden;
            transition: all var(--nue-collapse-animate-duration) ease;

            .nue-collapse-item__inner {
                padding-top: var(--nue-ui-secondary-padding);
            }

            .nue-collapse-item__empty {
                color: var(--nue-ui-primary-color-500);
                font-size: var(--nue-ui-text-sm);
            }
        }
    }

    .nue-collapse-item[data-collapsed='true'] {
        /*background-color: var(--nue-ui-primary-color-100);*/
        opacity: 0.9;

        .nue-collapse-item__header {
            box-shadow: none;

            .nue-collapse-item__toggle-button,
            .outter-toggle-button {
                transform: rotate(180deg);
            }
        }
    }
}

/* menu */

.nue-collapse--menu {
    --nue-collapse-vgap: 12px;

    gap: 16px;

    .nue-collapse-item {
        background-color: transparent;
        padding: 0;

        .nue-collapse-item__header {
            box-shadow: none;
            color: var(--nue-ui-primary-color-600);
            padding: calc(var(--nue-collapse-vgap) * 0.5)
                var(--nue-collapse-vgap);
            border: 1px solid transparent;

            .nue-collapse-item__title {
                color: var(--nue-ui-primary-color-500);
                font-size: var(--nue-ui-text-sm);
            }

            .nue-collapse-item__toggle-button,
            .outter-toggle-button {
                .nue-icon {
                    --icon-color: var(--nue-ui-primary-color-500);
                }
            }
        }

        .nue-collapse-item__content {
            gap: 4px;
        }
    }

    .nue-collapse-item[data-collapsed='true'] {
        background-color: transparent;

        .nue-collapse-item__header {
            box-shadow: none;

            .nue-collapse-item__toggle-button,
            .outter-toggle-button {
                transform: rotate(180deg);
            }
        }
    }
}
