:root {
    --mainly-font-size: 14px;
    --mainly-font-color: #1a1a1b;
    --mainly-font-family: inherit;
    --mainly-font-weight: 400;

    --mainly-square-radius: 6px;

    --mainly-disable-font-color: #999999;
}

.nue-reset-html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    & body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;

        #app {
            width: 100%;
            height: 100%;
        }
    }
}

* .iconfont {
    --font-size: calc(var(--icon-size));
    --line-height: calc(var(--font-size));

    height: var(--line-height);

    &::before {
        line-height: var(--line-height);
        font-size: var(--font-size);
        color: var(--icon-color);
        font-weight: var(--icon-weight);
        vertical-align: top;
    }
}
