:root {
    --mainly-font-size: 14px;
    --mainly-font-color: #1a1a1b;
    --mainly-font-family: inherit;
    --mainly-font-weight: 400;

    --mainly-square-radius: 6px;

    --mainly-disable-font-color: #999999;
}

* .iconfont {
    --font-size: calc(var(--icon-size));
    --line-height: calc(var(--font-size));

    height: var(--line-height);

    &::before {
        line-height: var(--line-height);
        font-size: var(--font-size);
        color: var(--icon-color);
        font-weight: var(--icon-weight);
        vertical-align: top;
    }
}
