@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./iconfont/iconfont.css");
@import url("./animations.css");

:root {
    /* Primary colors */
    --primary-color-50: #fafafa;
    --primary-color-100: #f5f5f5;
    --primary-color-200: #eeeeee;
    --primary-color-300: #e0e0e0;
    --primary-color-400: #bdbdbd;
    --primary-color-500: #9e9e9e;
    --primary-color-600: #757575;
    --primary-color-700: #616161;
    --primary-color-800: #424242;
    --primary-color-900: #212121;
    --primary-color-a100: #82b1ff;
    --primary-color-a200: #448aff;
    --primary-color-a400: #2979ff;
    --primary-color-a700: #2962ff;
    --primary-color: var(--primary-color-500);
    /* Colors */
    --divider-color: var(--primary-color-300);
    --disabled-color: var(--primary-color-500);
    --accent-color: #607d8b;
    --error-color: #f44336;
    --success-color: #4caf50;
    --warning-color: #ffc107;
    /* Text */
    --primary-font-size-base: 16px;
    --primary-font-size: 16px;
    --primary-font-weight: 400;
    --primary-font-family: "Poppins", "Noto Sans";
    --primary-line-height: 1;
    --primary-text-color: var(--primary-color-900);
    --secondary-text-color: var(--primary-color-600);
    /* Text sizes */
    --text-xxs: 0.5rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-xxl: 1.5rem;
    --text-xxxl: 2rem;
    /* Others */
    --primary-padding: 16px;
    --secondary-padding: 8px;
    --primary-gap: 16px;
    --secondary-gap: 8px;
    --primary-radius: 6px;
    --primary-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --secondary-shadow: 1px 1px 3px rgba(200, 200, 200, 0.2);
}

.nue-reset-html,
.nue-html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size-base);
    font-weight: var(--primary-font-weight);

    & body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;

        #app {
            width: 100%;
            height: 100%;
        }
    }
}
