/* imports */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./iconfont/iconfont.css');
@import url('./animations.css');

/* variables */

:root {
    --nue-primary-color-100: #f5f5f5;
    --nue-primary-color-200: #eeeeee;
    --nue-primary-color-300: #e0e0e0;
    --nue-primary-color-400: #bdbdbd;
    --nue-primary-color-500: #9e9e9e;
    --nue-primary-color-600: #757575;
    --nue-primary-color-700: #616161;
    --nue-primary-color-800: #424242;
    --nue-primary-color-900: #212121;
    --nue-brand-color: #424242;
}

:root {
    --nue-error-color: #ee3221;
    --nue-success-color: #3b9d3f;
    --nue-warning-color: #ea9515;
    --nue-destructive-color: 0 72.22% 50.59%;
}

:root {
    --nue-border-color: var(--nue-primary-color-300);
    --nue-divider-color: var(--nue-primary-color-300);
    --nue-disabled-color: var(--nue-primary-color-500);
    --nue-primary-text-color: var(--nue-primary-color-900);
    --nue-secondary-text-color: var(--nue-primary-color-700);
}

:root {
    --nue-primary-font-size-base: 16px;
    --nue-primary-font-family: 'Poppins', 'Noto Sans SC', ui-sans-serif,
        system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --nue-primary-font-size: 1rem;
    --nue-primary-font-weight: normal;
    --nue-primary-line-height: normal;
}

:root {
    --nue-text-xxxs: calc(var(--nue-text-df) * 0.625);
    --nue-text-xxs: calc(var(--nue-text-df) * 0.5);
    --nue-text-xs: calc(var(--nue-text-df) * 0.75);
    --nue-text-sm: calc(var(--nue-text-df) * 0.875);
    --nue-text-df: 1rem;
    --nue-text-md: calc(var(--nue-text-df) * 1.125);
    --nue-text-lg: calc(var(--nue-text-df) * 1.25);
    --nue-text-xl: calc(var(--nue-text-df) * 1.375);
    --nue-text-xxl: calc(var(--nue-text-df) * 1.5);
    --nue-text-xxxl: calc(var(--nue-text-df) * 1.75);
}

:root {
    --nue-primary-padding: 1rem;
    --nue-secondary-padding: 0.5rem;
    --nue-primary-gap: 1rem;
    --nue-secondary-gap: 0.5rem;
    --nue-primary-radius: 0.375rem;
    --nue-primary-shadow: 1px 1px 0.25rem rgba(100, 100, 100, 0.6);
    --nue-secondary-shadow: 1px 1px 0.25rem rgba(200, 200, 200, 0.2);
}

/* html original */

html.nue-reset-html,
html.nue-html {
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    min-height: 600px;
    aspect-ratio: 4 / 3;
    margin: 0;
    padding: 0;
    font-family: var(--nue-primary-font-family), sans-serif;
    font-size: var(--nue-primary-font-size-base);
    font-weight: var(--nue-primary-font-weight);
    line-height: var(--nue-primary-line-height);
    overflow: hidden;

    /* unknown attribute */
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-font-smoothing: antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;

    /* basic support */

    body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;

        #app {
            width: 100%;
            height: 100%;
        }
    }
}

/* scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--nue-divider-color) transparent;

    &::-webkit-scrollbar {
        width: var(--nue-primary-radius);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--nue-divider-color);
        border-radius: var(--nue-primary-radius);
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

/* wrapper style for confirm & prompt */

body .nue-confirm-prompt-wrapper {
    --wrapper-animation-name: fade-in;
    --animation-name: slide-in-from-top;
    --animation-rest-property: 0.24s ease-out forwards;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.64);
    overflow: hidden;
    box-sizing: border-box;
    animation: var(--wrapper-animation-name) var(--animation-rest-property);
    z-index: 5;

    &[data-closing='true'] {
        --wrapper-animation-name: fade-out;
        --animation-name: slide-out-to-top;
    }
}

/* linear style for input & textarea */

body .nue-input--linear,
body .nue-textarea--linear {
    --hover-border-color: #8ac7ab;
    --focus-border-color: #42b983;
    --focus-shadow-color: transparent;
    --focus-background-color: transparent;
    transition-duration: 0.3s;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0;
    box-shadow: none;

    &:focus-within {
        border: none;
        border-bottom: 2px solid #42b983;
        box-shadow: none;
    }
}
