/* Version 1 */
:root {
    --primary-color-50: #fafafa;
    --primary-color-100: #f5f5f5;
    --primary-color-200: #eeeeee;
    --primary-color-300: #e0e0e0;
    --primary-color-400: #bdbdbd;
    --primary-color-500: #9e9e9e;
    --primary-color-600: #757575;
    --primary-color-700: #616161;
    --primary-color-800: #424242;
    --primary-color-900: #212121;
    --primary-color-a100: #82b1ff;
    --primary-color-a200: #448aff;
    --primary-color-a400: #2979ff;
    --primary-color-a700: #2962ff;
    --primary-color: var(--primary-color-500);
    --dark-primary-color: var(--primary-color-700);
    --light-primary-color: var(--primary-color-100);
    --primary-text-color: var(--primary-color-900);
    --secondary-text-color: var(--primary-color-600);
    --divider-color: var(--primary-color-300);
    --disabled-color: var(--primary-color-500);
    --accent-color: #607d8b;
    --error-color: #f44336;
    --success-color: #4caf50;
    --warning-color: #ffc107;
    --primary-padding: 16px;
    --secondary-padding: 8px;
    --primary-gap: 16px;
    --secondary-gap: 8px;
    --primary-radius: 6px;
    --primary-font-weight: 600;
    --primary-font-family: "Poppins", "Noto Sans", sans-serif;
    --primary-line-height: 1;
    --text-xxs: 0.5rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-xxl: 1.5rem;
    --text-xxxl: 2rem;
    --primary-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --secondary-shadow: 1px 1px 3px rgba(200, 200, 200, 0.2);
}

/* Version 2 */
:root {
}
