/* Variables */

.nue-button {
    --nue-button-vgap: 12px;
    --flex: 0 1 auto;
    --alignment: start;
    --nue-button-color: var(--nue-ui-primary-text-color);
    --nue-button-font-size: var(--nue-ui-text-default);
    --border-color: var(--nue-ui-border-color);
    --background-color: transparent;
    --hover-color: var(--nue-button-color);
    --hover-border-color: var(--border-color);
    --hover-background-color: var(--nue-ui-primary-color-100);
    --active-color: var(--nue-button-color);
    --active-border-color: var(--border-color);
    --active-background-color: var(--nue-ui-primary-color-200);
    --disable-color: var(--nue-ui-disabled-color);
    --disable-border-color: var(--border-color);
    --disable-background-color: var(--nue-ui-primary-color-200);

    /* icon patches */
    --icon-size: var(--nue-button-font-size);
}

/* Original styles */

.nue-button {
    display: flex;
    align-items: center;
    justify-content: var(--alignment);
    /*gap: calc(var(--nue-button-vgap) * 0.5);*/
    gap: var(--nue-button-vgap);
    flex: var(--flex);
    width: auto;
    height: auto;
    box-sizing: border-box;
    padding: calc(var(--nue-button-vgap) * 0.5) var(--nue-button-vgap);
    border: 1px solid var(--border-color);
    border-radius: var(--nue-ui-primary-radius);
    background-color: var(--background-color);
    box-shadow: var(--nue-ui-secondary-shadow);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.16s ease-out;
    color: var(--nue-button-color);
    font-size: var(--nue-button-font-size);
    line-height: normal;
    font-family: inherit;

    &:hover {
        color: var(--hover-color);
        background-color: var(--hover-background-color);
        border-color: var(--hover-border-color);
    }

    &:active {
        color: var(--active-color);
        background-color: var(--active-background-color);
        border-color: var(--active-border-color);
    }

    .nue-button__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }

    .nue-button__append {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        flex: auto;
        gap: var(--nue-ui-secondary-gap);
        overflow: hidden;
    }

    &.nue-button--disabled {
        color: var(--disable-color);
        background-color: var(--disable-background-color);
        cursor: not-allowed;
    }
}

/* small */

.nue-button--small,
.nue-button--sm {
    --nue-button-vgap: 8px;
    --nue-button-font-size: var(--nue-ui-text-xs);
}

/* large */

.nue-button--large,
.nue-button--lg {
    --nue-button-vgap: 16px;
    --nue-button-font-size: var(--nue-ui-text-lg);
}

/* round */

.nue-button--round {
    border-radius: 999px;
}

/* icon-only */

.nue-button--icon-only,
.nue-button--ico {
    --border-color: transparent;
    --hover-background-color: var(--nue-ui-primary-color-300);
    box-shadow: none;
    padding: calc(var(--nue-button-vgap) * 0.5);

    .nue-button__text {
        display: none;
    }
}

/* primary */

.nue-button--primary,
.nue-button--pri {
    --nue-button-color: white;
    --border-color: transparent;
    --background-color: var(--nue-ui-primary-text-color);
    --hover-background-color: var(--nue-ui-primary-color-800);
    --active-background-color: var(--nue-ui-primary-color-800);
}

/* pure */

.nue-button--pure {
    --height: max-content;
    --hover-background-color: transparent;
    --active-background-color: transparent;
    --hover-color: var(--nue-ui-secondary-text-color);
    --active-color: var(--nue-ui-secondary-text-color);
    --border-color: transparet;
    box-shadow: none;
    padding: 0;

    &.nue-button--disabled {
        background-color: transparent;
    }
}
