.nue-button {
    --nue-button-height: 2rem;
    --nue-button-border-color: gray;
    --nue-button-border-radius: 6px;
    --nue-button-box-shadow: 0 0 3px 1px rgba(200, 200, 200, 0.3);
    --nue-button-bg-color: transparent;
    --nue-button-padding: calc(0.4 * var(--nue-button-height));
    --nue-button-gap: calc(0.5 * var(--nue-button-padding));
    --nue-button-font-size: calc(0.4 * var(--nue-button-height));
    --nue-button-icon-size: var(--nue-button-font-size);
    --nue-button-hover-bg-color: #cccccc;
    --nue-button-active-bg-color: #acacac;
    --nue-button-disable-color: gray;
    --nue-button-disable-bg-color: #cccccc;
    --nue-button-disable-border-color: gray;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.16s ease-out;
    flex: none;

    height: var(--nue-button-height);
    gap: var(--nue-button-gap);
    padding: 0 var(--nue-button-padding);
    border: 1px solid var(--nue-button-border-color);
    border-radius: var(--nue-button-border-radius);
    background-color: var(--nue-button-bg-color);
    box-shadow: var(--nue-button-box-shadow);
    font-size: var(--nue-button-font-size);

    &:hover {
        background-color: var(--nue-button-hover-bg-color);
    }

    &:active {
        background-color: var(--nue-button-active-bg-color);
    }

    .nue-button__text {
        /*line-height: 1.4;*/
    }

    .nue-button__icon {
        --icon-size: var(--nue-button-font-size);
    }

    .nue-button__append {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        flex: auto;
        gap: var(--nue-button-gap);
        overflow: hidden;
        font-size: inherit;
    }

    &.nue-button--disabled {
        cursor: not-allowed;
        color: var(--nue-button-disable-color);
        background-color: var(--nue-button-disable-bg-color);
    }

    &.nue-button--small {
        --nue-button-height: 1.75rem;
    }

    &.nue-button--large {
        --nue-button-height: 2.625rem;
    }
}
