## npm registries
# https://registry.npmjs.org/
# https://registry.npmmirror.com/
# https://registry.npm.taobao.org/
# https://registry.yarnpkg.com/
# https://registry.npmmirror.com/
registry=https://registry.npmmirror.com