node_modules/
.gitignore
.prettierignore
.backup
.idea
.github
.vscode
dist/
coverage
*.log
*.zip
*.gz
*.tgz
*.rar
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.iso
*.bin
*.exe
*.dll
*.so
*.dylib
*.lib
*.jar
.vitepress/dist
.vitepress/cache
pnpm-lock.yaml
apps/document/vitepress-demo-preview-component