/* Variabled */

.nue-input {
    --font-size: var(--mainly-font-size);
    --font-color: inherit;
    --font-family: var(--mainly-font-family);
    --font-weight: var(--mainly-font-weight);

    --icon-color: var(--color);
    --icon-size: var(--font-size);
    --icon-weight: var(--font-weight);

    --width: auto;
    --min-width: 80px;
    /* --height: calc(var(--font-size) * 2); */
    /* --padding-x: calc(var(--height) / 4); */
    /* --padding-offset: calc(var(--font-size) / 4); */
    /* --padding-x-r: calc(var(--padding-x) + var(--padding-offset)); */

    --line-height: var(--font-size);
    --padding-y: calc(var(--font-size) / 2);
    --padding-x: var(--padding-y);
    --height: calc(
        var(--line-height) + var(--padding-y) * 2 +
            calc(var(--border-width) * 2)
    );

    --border-width: 1px;
    --border-color: #ccc;
    --square-radius: 5px;
    --background-color: transparent;
    /* --input-line-height: calc(var(--font-size) + 4px); */
    --input-line-height: var(--line-height);

    --flex: none;
    --text-align: left;

    --hovered-border-color: #6d94dd;
    --hovered-background-color: transparent;
    --hovered-shadow-color: transparent;

    --focused-border-color: #6d94dd;
    --focused-background-color: transparent;
    --focused-shadow-color: #6d94dd;

    --disabled-color: #999999;
    --disabled-border-color: #cccccc;
    --disabled-background-color: #f0f0f0;
    --disabled-shadow-color: transparent;

    --button-size: var(--font-size);
    --button-color: var(--border-color);
    --button-border-color: var(--border-color);
    --button-hovered-color: var(--hovered-border-color);
}

/* Original styles */

.nue-input {
    display: flex;
    align-items: center;
    flex: var(--flex);
    gap: var(--padding-x);
    transition: all 0.16s ease;
    user-select: none;
    position: relative;
    overflow: hidden;

    box-sizing: border-box;
    width: var(--width);
    min-width: var(--min-width);
    height: var(--height);
    padding: var(--padding-y) var(--padding-x);

    border: 1px solid var(--border-color);
    background-color: var(--background-color);

    color: var(--color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);

    & .iconfont {
        display: block;
        height: var(--icon-size);
        line-height: var(--icon-size);

        &::before {
            aspect-ratio: 1;
            height: var(--icon-size);
            line-height: var(--icon-size);
            color: var(--icon-color);
            font-size: var(--icon-size);
            font-weight: var(--icon-weight);
            margin: 0;
            padding: 0;
        }
    }

    &:hover {
        border-color: var(--hovered-border-color);
    }

    &:focus-within {
        border-color: var(--focused-border-color);
        background-color: var(--focused-background-color);
        box-shadow: 0 0 3px 1px var(--focused-shadow-color);
    }

    & input {
        display: flex;
        flex: auto;
        align-items: center;
        min-width: calc(var(--font-size) * 5);
        height: var(--input-line-height);
        line-height: var(--input-line-height);
        padding: 0px;

        outline: none;
        border: none;
        background: none;

        color: inherit;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;

        text-align: var(--text-align);

        &::-ms-reveal {
            display: none;
        }

        &::-ms-clear {
            display: none;
        }

        &::placeholder {
            color: inherit;
            opacity: 0.36;
        }
    }

    & .button-group {
        display: flex;
        align-items: center;
        gap: var(--padding-x);
        border-left: 1px solid var(--border-color);
        padding-left: var(--padding-x);

        & .iconfont {
            transition: all 0.16s ease;
            box-sizing: border-box;
            aspect-ratio: 1;
            cursor: pointer;
            font-size: var(--button-size);
            line-height: var(--button-size);
            border-radius: 50%;
            color: var(--button-color);
            text-align: center;

            &:hover {
                color: var(--button-hovered-color) !important;
            }
        }
    }

    .word-counter {
        --word-counter-height: calc(var(--font-size) - 4px);
        display: flex;
        align-items: center;
        flex: none;
        height: var(--input-line-height);
        opacity: 0.48;
        font-size: calc(var(--font-size) - 4px);
        padding-left: var(--padding-x);
    }
}

.nue-input--square {
    border-radius: var(--square-radius);
}

.nue-input--round {
    padding-left: calc(var(--padding-x) + var(--padding-y));
    padding-right: calc(var(--padding-x) + var(--padding-y));
    border-radius: var(--height);
}

.nue-input--no-shape {
    --width: auto;
    --padding-x: 0px;
    --padding-y: 0px;
    --border-color: transparent;
    --hovered-border-color: transparent;
    --focused-border-color: transparent;
    --focused-shadow-color: transparent;
    --disabled-border-color: transparent;
}

.nue-input--disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
    user-select: none;
    background-color: var(--disabled-background-color);

    --hovered-border-color: var(--disabled-border-color);

    & * {
        /* color: var(--disabled-color); */
        cursor: not-allowed;
    }
}

.nue-input--linear {
    --border-width: 0px;
    --hovered-border-color: #8ac7ab;
    --focused-border-color: #42b983;
    --focused-shadow-color: transparent;
    --focused-background-color: transparent;

    transition: all 0.3s;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0px;

    &:focus-within {
        border-bottom: 2px solid #42b983;
    }
}
