/* Variables */

.nue-textarea {
    --rows: 1;
    --overflow: auto;
    --resize: none;

    --color: inherit;
    --font-size: var(--mainly-font-size);
    --font-family: var(--mainly-font-family);
    --font-weight: var(--mainly-font-weight);

    --width: auto;
    --min-height: calc(var(--textarea-line-height) * var(--rows));
    --padding-y: calc(var(--font-size) / 2);
    --padding-x: var(--padding-y);
    --line-height: calc(var(--font-size) + 3px);
    --textarea-line-height: var(--line-height);
    --height: calc(
        var(--line-height) * var(--rows) + var(--padding-y) * 2 +
            calc(var(--border-width) * 2)
    );
    --flex: none;

    --border-color: #cccccc;
    --background-color: transparent;

    --hovered-border-color: #6d94dd;
    --hovered-background-color: transparent;
    --hovered-shadow-color: transparent;

    --focused-border-color: #6d94dd;
    --focused-background-color: transparent;
    --focused-shadow-color: #6d94dd;

    --disabled-color: #999999;
    --disabled-border-color: #cccccc;
    --disabled-background-color: #f0f0f0;
    --disabled-shadow-color: transparent;
}

/* Original styles */

.nue-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: var(--flex);

    width: var(--width);
    padding: var(--padding-y) var(--padding-x);
    border: 1px solid var(--border-color);
    background-color: var(--background-color);

    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);

    transition: all 0.16s ease;
    user-select: none;
    overflow: auto;
    box-sizing: border-box;
    position: relative;

    &:hover {
        border-color: var(--hovered-border-color);
    }

    &:focus-within {
        border: 1px solid var(--focused-border-color);
        background-color: var(--focused-background-color);
        box-shadow: 0 0 3px 1px var(--focused-shadow-color);
    }

    & textarea {
        width: 100%;
        line-height: var(--textarea-line-height);
        max-height: calc(var(--textarea-line-height) * var(--rows));
        margin: 0;
        padding: 0;
        resize: var(--resize);
        overflow: var(--overflow);

        outline: none;
        border: none;
        background-color: transparent;

        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        word-break: break-all;

        & * {
            line-height: var(--textarea-line-height);
        }
    }

    & .backend-textarea {
        height: 0px;
        /* min-height: 0px; */
        /* max-height: calc(var(--textarea-line-height) * var(--rows)); */
        position: absolute;
        top: var(--padding-y);
        left: var(--padding-y);
    }

    & .word-counter {
        --word-counter-height: calc(var(--font-size) - 4px);
        display: flex;
        align-items: center;
        flex: none;
        height: var(--textarea-line-height);
        opacity: 0.48;
        font-size: calc(var(--font-size) - 4px);

        position: absolute;
        right: var(--padding-x);
        bottom: var(--padding-y);
    }
}

.nue-textarea--square {
    border-radius: 5px;
}

.nue-textarea--round {
    border-radius: var(--font-size);
    padding-left: calc(var(--padding-y) + var(--padding-x));
    padding-right: calc(var(--padding-y) + var(--padding-x));
}

.nue-textarea--no-shape {
    --width: auto;
    --padding-x: 0px;
    --padding-y: 0px;
    --border-color: transparent;
    --hovered-border-color: transparent;
    --focused-border-color: transparent;
    --focused-shadow-color: transparent;
    --disabled-border-color: transparent;
}

/* .nue-textarea--focused {
    background-color: var(--focus-background-color);
    border: 1px solid var(--focus-border-color);
    box-shadow: 0 0 4px 1px var(--focus-shadow-color);
} */

.nue-textarea--disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
    user-select: none;
    background-color: var(--disabled-background-color);
    --hovered-border-color: var(--disabled-border-color);
    --focused-border-color: var(--disabled-border-color);

    & * {
        cursor: not-allowed;
    }
}

.nue-textarea--linear {
    transition: all 0.3s;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0px;

    --border-width: 0px;
    --padding-y: 4px;
    --hovered-border-color: #8ac7ab;
    --focused-border-color: #42b983;
    --focused-shadow-color: transparent;
    --focused-background-color: transparent;

    &:focus-within {
        border: none;
        border-bottom: 2px solid #42b983;
    }
}
