/* variables */

/* original */

.nue-prompt {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 24rem;
    max-width: 32rem;
    padding: 1rem;
    border-radius: var(--nue-primary-radius);
    background-color: white;
    gap: 1rem;
    transition: all 0.3s ease;
    animation: var(--animation-name) var(--animation-rest-property);
    box-sizing: border-box;

    .nue-prompt__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--nue-text-md);
    }

    .nue-prompt__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: var(--nue-secondary-gap);

        .nue-prompt__description {
            font-size: var(--nue-text-sm);
            color: var(--nue-primary-color-600);
        }
    }

    .nue-prompt__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: var(--nue-secondary-gap);
        flex-wrap: nowrap;
    }

    .nue-prompt__value-error {
        color: #f44336;
        font-size: var(--nue-text-sm);
    }
}
