/* variables */

/* original */

.nue-prompt {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 360px;
    max-width: 480px;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    gap: 16px;
    transition: all 0.3s ease;
    animation: var(--animation-name) var(--animation-rest-property);
    box-sizing: border-box;

    .nue-prompt__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nue-button--icon-only {
            --icon-size: 14px;
        }
    }

    .nue-prompt__content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: var(--nue-ui-secondary-gap);

        .nue-prompt__description {
            font-size: var(--nue-ui-text-default);
            color: var(--nue-ui-primary-color-700);
        }

        .nue-prompt__value-error {
            margin-top: 8px;
            color: #f44336;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 8px;

            &::before {
                content: '*';
            }
        }
    }

    .nue-prompt__footer {
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: end;
        gap: 8px;
    }
}
