.nue-prompt {
    --nue-prompt-animation-name: unset;
    --nue-prompt-animation-duration: var(--nue-overlay-animation-duration, 0.24s);
    --nue-prompt-close-animation-name: unset;
    --nue-prompt-close-animation-duration: var(--nue-overlay-close-animation-duration, 0.24s);
    --nue-prompt-header-font-size: 1rem;
    --nue-prompt-header-color: #212121;
    --nue-prompt-content-font-size: 0.875rem;
    --nue-prompt-content-color: #757575;
    --nue-prompt-bg-color: #f5f5f5;
    --nue-prompt-border-radius: 6px;

    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 24rem;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;

    animation-name: var(--nue-prompt-animation-name);
    animation-duration: var(--nue-prompt-animation-duration);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-color: var(--nue-prompt-bg-color);
    border-radius: var(--nue-prompt-border-radius);

    .nue-prompt__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--nue-confirm-header-font-size);
        color: var(--nue-confirm-header-color);
    }

    .nue-prompt__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: auto;
        font-size: var(--nue-confirm-content-font-size);
        color: var(--nue-confirm-content-color);
        gap: 0.5rem;

        .nue-prompt__description {
            font-size: 0.875rem;
            color: #757575;
        }
    }

    .nue-prompt__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
    }

    .nue-prompt__value-error {
        color: #f44336;
        font-size: 0.875rem;
    }
}

.nue-prompt[data-closing='true'] {
    animation-name: var(--nue-prompt-close-animation-name);
    animation-duration: var(--nue-prompt-close-animation-duration);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
