.nue-empty {
    --nue-empty-image-size: 96px;
    --nue-empty-image-width: var(--nue-empty-image-size);
    --nue-empty-image-height: var(--nue-empty-image-size);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    flex: auto;

    .nue-empty__image {
        aspect-ratio: 1;
        width: var(--nue-empty-image-width);
        height: var(--nue-empty-image-height);
        object-fit: contain;
        margin-bottom: 1rem;
        border-radius: 6px;
    }

    .nue-empty__description {
        font-size: 0.875rem;
        color: #696969;
    }
}
