.nue-empty {
    --nue-empty-image-size: 6rem;
    --nue-empty-image-width: var(--nue-empty-image-size);
    --nue-empty-image-height: var(--nue-empty-image-size);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nue-empty__image {
        width: var(--nue-empty-image-width);
        height: var(--nue-empty-image-height);
        object-fit: contain;
        border-radius: 6px;
    }

    .nue-empty__description {
        font-size: 0.875rem;
        color: #696969;
    }
}
