.nue-avatar {
    --nue-avatar-size: 3rem;
    --nue-avatar-width: var(--nue-avatar-size);
    --nue-avatar-height: var(--nue-avatar-size);
    --nue-avatar-object-fit: cover;
}

.nue-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--nue-avatar-width);
    height: var(--nue-avatar-height);
    background-color: var(--nue-primary-color-200);
    flex: none;
    border-radius: var(--nue-primary-radius);
    -webkit-user-select: none;
    user-select: none;
    font-size: calc(var(--nue-avatar-height) / 2.5);

    & > .nue-avatar__image {
        width: 100%;
        height: 100%;
        object-fit: var(--nue-avatar-object-fit);
        border-radius: var(--nue-primary-radius);
    }
}

.nue-avatar.nue-avatar--round {
    border-radius: 9999px;

    & > .nue-avatar__image,
    &::before,
    &::after {
        border-radius: 9999px;
    }
}
