.nue-badge {
    --nue-badge-background-color: hsl(
        from var(--nue-warning-color-50) h s calc(l + var(--nue-dark-switch) * 20)
    );
    --nue-badge-font-size: var(--nue-text-sm);
    --nue-badge-color: var(--nue-primary-color-0);
}

.nue-badge {
    width: fit-content;
    height: fit-content;
    position: relative;
    user-select: none;
    -webkit-user-select: none;

    .nue-badge__content {
        display: block;
        width: fit-content;
        max-width: 200%;
        height: fit-content;
        max-height: 100%;
        padding: var(--nue-padding-xs) var(--nue-padding-sm);
        background-color: var(--nue-badge-background-color);
        border-radius: 0.375rem;
        box-sizing: border-box;

        &:is(sup) {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(64%, -64%);

            > .nue-text {
                color: var(--nue-badge-color);
                font-size: var(--nue-badge-font-size);
                line-height: 1;
            }
        }

        &:is(span) {
            background-color: transparent;
            font-size: var(--nue-badge-font-size);
        }
    }

    &.nue-badge--dot .nue-badge__content {
        height: 0.75rem;

        aspect-ratio: 1;
        padding: 0;
        border-radius: 99px;

        &:is(sup) {
            transform: translate(42%, -42%);
        }

        &:is(span) {
            height: 0.5rem;
            background-color: var(--nue-badge-background-color);
        }
    }
}

.nue-badge.nue-badge--dot.nue-badge--for-ico-btn > .nue-badge__content {
    &:is(sup) {
        transform: translate(0%, -0%);
        border: 1px solid white;
    }
}
