.nue-container {
    --nue-container-width: 100%;
    --nue-container-height: 100%;
    --nue-container-inner-border-color: var(--nue-divider-color);
    --nue-container-inner-gap: 1rem;
}

.nue-container {
    display: flex;
    flex-direction: column;
    width: var(--nue-container-width);
    max-width: 99%;
    height: var(--nue-container-height);

    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &:has(> .nue-main) > .nue-header,
    &:has(> .nue-footer) > .nue-main,
    &:has(> .nue-footer) > .nue-header {
        border-bottom: 1px solid var(--nue-container-inner-border-color);
    }

    > .nue-header,
    > .nue-main,
    > .nue-main > .nue-aside,
    > .nue-footer {
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }

    > .nue-header {
        --nue-header-width: auto;
        --nue-header-height: 4rem;
        --nue-header-gap: var(--nue-container-inner-gap);

        width: var(--nue-header-width);
        height: var(--nue-header-height);

        display: flex;
        align-items: center;
        gap: var(--nue-header-gap);
        padding: 0 var(--nue-header-gap);
        flex: none;
    }

    > .nue-main {
        display: flex;
        align-items: stretch;
        flex: auto;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;

        & > .nue-aside + .nue-content,
        & > .nue-content + .nue-aside {
            border-left: 1px solid var(--nue-container-inner-border-color);
        }

        > .nue-aside {
            --nue-aside-width: 24%;
            --nue-aside-min-width: 16%;
            --nue-aside-max-width: 32%;
            --nue-aside-gap: var(--nue-container-inner-gap);
            --nue-aside-animation-duration: 0.18s;

            width: var(--nue-aside-width);
            min-width: var(--nue-aside-min-width);
            max-width: var(--nue-aside-max-width);

            display: flex;
            flex-direction: column;
            flex: none;
            overflow: auto;
            overflow-x: hidden;
            padding: var(--nue-aside-gap);
            gap: var(--nue-aside-gap);

            &[data-collapsed='true'] {
                /*min-width: 4.5rem;*/
                /*width: 4.5rem !important;*/
                transition: width var(--nue-aside-animation-duration) ease-out;
            }
        }

        > .nue-content {
            --nue-content-width: auto;
            --nue-content-min-width: 1%;
            --nue-content-max-width: unset;
            --nue-content-gap: var(--nue-container-inner-gap);

            width: var(--nue-content-width);
            min-width: var(--nue-content-min-width);
            max-width: var(--nue-content-max-width);
            height: fit-content;
            max-height: 100%;
            flex: 1 1 auto;
            overflow: auto;

            &.nue-content--fill {
                height: 100%;
            }
        }
    }

    > .nue-footer {
        --nue-footer-width: auto;
        --nue-footer-height: 3rem;
        --nue-footer-gap: var(--nue-container-inner-gap);

        width: var(--nue-footer-width);
        height: var(--nue-footer-height);

        display: flex;
        align-items: center;
        gap: var(--nue-footer-gap);
        padding: 0 var(--nue-footer-gap);
        flex: none;
    }
}

.nue-container--nested {
    flex-direction: row;
    width: 100%;
    height: 360px;
    overflow: hidden;
    flex: none;

    > .nue-container--nested__aside {
        flex: none;
        height: 100%;
        width: 24%;
        min-width: 16%;
        max-width: 32%;
    }

    > .nue-container--nested__main {
        flex: none;
        height: 100%;
        min-width: 32%;
    }
}

.nue-separator {
    display: flex;
    flex-direction: column;
    width: 1px;
    height: 100%;
    background-color: var(--nue-container-inner-border-color);
    z-index: 2;
    position: relative;
    flex: none;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -0.25rem;
        width: 100%;
        height: 100%;
        padding: 0 0.25rem;
    }

    &:hover {
        cursor: e-resize;
    }

    &.nue-separator--disabled:hover {
        cursor: default;
    }
}
