.nue-dropdown-wrapper {
    position: relative;
    flex: none;
    width: fit-content;
    height: fit-content;

    .state-icon {
        transform: rotate(0deg);
        transition: all 0.16s ease-in-out;
    }

    &[data-visible='true'] .state-icon {
        transform: rotate(180deg);
    }

    &[data-visible='false'] .state-icon {
        transform: rotate(0deg);
    }
}

.nue-dropdown {
    --nue-dropdown-x: 0px;
    --nue-dropdown-y: 0px;
    --nue-dropdown-top-open-animation-name: dropdown-top-open;
    --nue-dropdown-top-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-dropdown-top-close-animation-name: dropdown-top-close;
    --nue-dropdown-top-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-dropdown-bottom-open-animation-name: dropdown-bottom-open;
    --nue-dropdown-bottom-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-dropdown-bottom-close-animation-name: dropdown-bottom-close;
    --nue-dropdown-bottom-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-dropdown-left-open-animation-name: dropdown-left-open;
    --nue-dropdown-left-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-dropdown-left-close-animation-name: dropdown-left-close;
    --nue-dropdown-left-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-dropdown-right-open-animation-name: dropdown-right-open;
    --nue-dropdown-right-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-dropdown-right-close-animation-name: dropdown-right-close;
    --nue-dropdown-right-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-dropdown-item-font-size: var(--nue-text-df);
}

.nue-dropdown {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    display: flex;
    flex-direction: column;
    gap: var(--nue-gap-xs);
    list-style: none;
    margin: 0;
    padding: var(--nue-padding-xs);
    background-color: var(--nue-primary-color-0);
    border: 1px solid var(--nue-border-color);
    border-radius: 0.375rem;
    box-shadow: var(--nue-secondary-shadow);
    box-sizing: border-box;

    .nue-dropdown-item,
    .nue-dropdown__empty-text {
        display: flex;
        line-height: 1;
        align-items: center;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        gap: var(--nue-gap-sm);
        padding: var(--nue-padding-sm) var(--nue-padding-df);
        background-color: transparent;
        border-radius: var(--nue-primary-radius);
        font-size: var(--nue-dropdown-item-font-size);
        box-sizing: border-box;

        &:hover {
            background-color: var(--nue-primary-color-200);
        }
    }

    .nue-dropdown-item {
        width: 100%;

        .nue-dropdown-item__icon,
        .nue-dropdown-item__text,
        .nue-dropdown-item__append__suffix-icon {
            font-size: var(--nue-dropdown-item-font-size);
        }

        .nue-dropdown-item__append {
            width: fit-content;
            height: 100%;
            margin-left: auto;
            align-items: center;
        }

        &[data-executeid] {
            cursor: pointer;
        }

        &.nue-dropdown-item--small {
            --nue-dropdown-item-font-size: var(--nue-text-sm);
        }

        &.nue-dropdown-item--large {
            --nue-dropdown-item-font-size: var(--nue-text-md);
        }

        &.nue-dropdown-item--disabled {
            background-color: var(--nue-primary-color-200);
            color: var(--nue-primary-color-500);
            cursor: default;
            opacity: 0.8;
        }

        &.nue-dropdown-item--loading {
            color: var(--nue-primary-color-500);
            cursor: default;
        }
    }

    .nue-dropdown__empty-text {
        font-size: var(--nue-text-sm);
        color: var(--nue-primary-color-500);
        cursor: default;
        justify-content: center;

        &:hover {
            background-color: transparent;
        }
    }

    &[data-direction='top'] {
        &[data-visible='true'] {
            animation-name: var(--nue-dropdown-top-open-animation-name);
            animation-duration: var(--nue-dropdown-top-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-dropdown-top-close-animation-name);
            animation-duration: var(--nue-dropdown-top-close-animation-duration);
        }
    }

    &[data-direction='bottom'] {
        &[data-visible='true'] {
            animation-name: var(--nue-dropdown-bottom-open-animation-name);
            animation-duration: var(--nue-dropdown-bottom-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-dropdown-bottom-close-animation-name);
            animation-duration: var(--nue-dropdown-bottom-close-animation-duration);
        }
    }

    &[data-direction='left'] {
        &[data-visible='true'] {
            animation-name: var(--nue-dropdown-left-open-animation-name);
            animation-duration: var(--nue-dropdown-left-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-dropdown-left-close-animation-name);
            animation-duration: var(--nue-dropdown-left-close-animation-duration);
        }
    }

    &[data-direction='right'] {
        &[data-visible='true'] {
            animation-name: var(--nue-dropdown-right-open-animation-name);
            animation-duration: var(--nue-dropdown-right-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-dropdown-right-close-animation-name);
            animation-duration: var(--nue-dropdown-right-close-animation-duration);
        }
    }

    &.nue-dropdown--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.nue-dropdown--small {
        --nue-dropdown-item-font-size: var(--nue-text-sm);
    }

    &.nue-dropdown--large {
        --nue-dropdown-item-font-size: var(--nue-text-md);
    }
}

.nue-dropdown > .nue-dropdown-wrapper {
    /* Fix inner dropdown width */
    width: 100%;
}

.nue-dropdown.nue-dropdown--menu {
    padding: 2px 0;

    > .nue-div--block {
        gap: var(--nue-gap-xs);
        flex-direction: column;
        align-items: stretch;
        padding: var(--nue-padding-xs);

        .nue-text--title {
            font-size: var(--nue-text-sm);
            font-weight: 500;
            color: var(--nue-primary-color-500);
            padding: 2px 6px;
            margin-bottom: 4px;
            cursor: default;
            user-select: none;
            -webkit-user-select: none;
        }
    }

    .nue-divider {
        width: calc(100% - 0.5rem);
        margin: 0 auto;
    }

    .nue-dropdown-item {
        cursor: pointer;

        .nue-icon {
            --icon-size: var(--nue-text-sm);
        }
    }
}

/* Animations */
@keyframes dropdown-top-open {
    0% {
        opacity: 0;
        transform: translate(var(--nue-dropdown-x), calc(var(--nue-dropdown-y) + 1rem));
    }
    100% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
}

@keyframes dropdown-top-close {
    0% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
    100% {
        opacity: 0;
        transform: translate(var(--nue-dropdown-x), calc(var(--nue-dropdown-y) + 1rem));
    }
}

@keyframes dropdown-bottom-open {
    0% {
        opacity: 0;
        transform: translate(var(--nue-dropdown-x), calc(var(--nue-dropdown-y) - 1rem));
    }
    100% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
}

@keyframes dropdown-bottom-close {
    0% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
    100% {
        opacity: 0;
        transform: translate(var(--nue-dropdown-x), calc(var(--nue-dropdown-y) - 1rem));
    }
}

@keyframes dropdown-left-open {
    0% {
        opacity: 0;
        transform: translate(calc(var(--nue-dropdown-x) + 1rem), var(--nue-dropdown-y));
    }
    100% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
}

@keyframes dropdown-left-close {
    0% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
    100% {
        opacity: 0;
        transform: translate(calc(var(--nue-dropdown-x) + 1rem), var(--nue-dropdown-y));
    }
}

@keyframes dropdown-right-open {
    0% {
        opacity: 0;
        transform: translate(calc(var(--nue-dropdown-x) - 1rem), var(--nue-dropdown-y));
    }
    100% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
}

@keyframes dropdown-right-close {
    0% {
        opacity: 1;
        transform: translate(var(--nue-dropdown-x), var(--nue-dropdown-y));
    }
    100% {
        opacity: 0;
        transform: translate(calc(var(--nue-dropdown-x) - 1rem), var(--nue-dropdown-y));
    }
}
