.nue-marquee {
    --nue-marquee-gap: 36px;
    --nue-marquee-width: unset;
    --nue-marquee-track-width: unset;
}

.nue-marquee {
    display: flex;
    width: 100%;
    overflow: hidden;

    .nue-marquee__track {
        display: flex;
        align-items: center;
        gap: 36px;
        background: transparent;
        animation-name: marquee-slide;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0.16s;
        opacity: 0;

        .nue-marquee-item {
            width: 128px;
            aspect-ratio: 3 / 4;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--nue-primary-color-200);
            border-radius: var(--nue-primary-radius);
        }
    }
}

.nue-marquee.nue-marquee--infinite .nue-marquee__track {
    animation-name: marquee-infinite-slide;
}

@keyframes marquee-infinite-slide {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(
            calc(0px - (var(--nue-marquee-track-width) + var(--nue-marquee-gap)) / 2)
        );
    }
}

@keyframes marquee-slide {
    from {
        opacity: 1;
        transform: translateX(var(--nue-marquee-width));
    }
    to {
        opacity: 1;
        transform: translateX(calc(0px - var(--nue-marquee-track-width)));
    }
}
