.nue-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
    width: 0;
    position: fixed;
    top: 8px;
    left: 50%;
    z-index: 100;
}

.nue-message-node {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    z-index: 100;
}

.nue-message-node-inner {
    --nue-message-node-inner-vgap: 1rem;
    --nue-message-node-inner-height: 2.25rem;
    --nue-message-node-inner-font-size: 0.8rem;
    --nue-message-node-inner-color: var(--nue-primary-color-900);
    --nue-message-node-inner-icon-size: var(--nue-message-node-inner-font-size);
    --nue-message-node-inner-icon-color: var(--nue-message-node-inner-color);
    --nue-message-node-inner-border-color: var(--nue-primary-color-700);
    --nue-message-node-inner-background-color: var(--nue-primary-color-200);
    --nue-message-node-inner-shadow-color: color(
        from var(--nue-message-node-inner-border-color) srgb r g b / 0.5
    );
}

.nue-message-node-inner {
    display: flex;
    align-items: center;
    gap: calc(var(--nue-message-node-inner-vgap) * 0.5);
    height: var(--nue-message-node-inner-height);
    padding: 0 var(--nue-message-node-inner-vgap);
    background-color: var(--nue-message-node-inner-background-color);
    border: 1px solid var(--nue-message-node-inner-border-color);
    border-radius: var(--nue-primary-radius);
    box-shadow: 0 0 0.25rem 1px var(--nue-message-node-inner-shadow-color);
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    margin-top: -3rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    font-size: var(--nue-message-node-inner-font-size);
    color: var(--nue-message-node-inner-color);

    .nue-message-node-inner__text {
        font-size: var(--nue-message-node-inner-font-size);
        color: var(--nue-message-node-inner-color);
    }
}

.nue-message-node-inner.nue-message-node-inner--push {
    transition: all 0.2s ease-out;
    margin-top: 0.25rem !important;
    opacity: 1;
}

.nue-message-node-inner.nue-message-node-inner--small {
    --nue-message-node-inner-vgap: 0.75rem;
    --nue-message-node-inner-height: 1.75rem;
    --nue-message-node-inner-font-size: 0.75rem;
}

.nue-message-node-inner.nue-message-node-inner--large {
    --nue-message-node-inner-vgap: 1.25rem;
    --nue-message-node-inner-height: 2.625rem;
    --nue-message-node-inner-font-size: 1.125rem;
}

.nue-message-node-inner.nue-message-node-inner--success {
    --nue-message-node-inner-color: var(--nue-success-color-70);
    --nue-message-node-inner-background-color: var(--nue-success-color-10);
    --nue-message-node-inner-border-color: var(--nue-success-color-60);
}

.nue-message-node-inner.nue-message-node-inner--warning {
    --nue-message-node-inner-color: var(--nue-warning-color-70);
    --nue-message-node-inner-background-color: var(--nue-warning-color-10);
    --nue-message-node-inner-border-color: var(--nue-warning-color-60);
}

.nue-message-node-inner.nue-message-node-inner--error {
    --nue-message-node-inner-color: var(--nue-error-color-70);
    --nue-message-node-inner-background-color: var(--nue-error-color-10);
    --nue-message-node-inner-border-color: var(--nue-error-color-60);
}

.nue-message-node-inner.nue-message-node-inner--info {
    --nue-message-node-inner-color: var(--nue-primary-color-700);
    --nue-message-node-inner-background-color: var(--nue-primary-color-100);
    --nue-message-node-inner-border-color: var(--nue-primary-color-500);
}

.nue-message-node-inner.nue-message-node-inner--log {
    --nue-message-node-inner-color: var(--nue-primary-color-900);
    --nue-message-node-inner-background-color: var(--nue-primary-color-100);
    --nue-message-node-inner-border-color: var(--nue-primary-color-700);
}
