.nue-progress {
    --nue-progress-flex: auto;
    --nue-progress-stroke-width: 6px;
    --nue-progress-outerbar-background-color: var(--nue-primary-color-200);
    --nue-progress-innerbar-background-color: var(--nue-primary-color-500);
    --nue-progress-text-color: var(--nue-primary-color-0);
    --nue-progress-circle-size: 100px;
    --nue-progress-stroke-dash-array: 314;
    --nue-progress-stroke-dash-offset: 314;
}

.nue-progress {
    flex: var(--nue-progress-flex);
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none;

    .nue-progress__bar {
        flex: 1 1 auto;

        .nue-progress__outer-bar {
            background: var(--nue-progress-outerbar-background-color);
            border-radius: var(--nue-progress-stroke-width);
            overflow: hidden;

            .nue-progress__inner-bar {
                box-sizing: border-box;
                transition: width 0.24s linear;
                display: flex;
                align-items: center;
                justify-content: end;
                height: var(--nue-progress-stroke-width);
                background: var(--nue-progress-innerbar-background-color);
                border-radius: var(--nue-progress-stroke-width);

                .nue-text {
                    color: var(--nue-progress-text-color);
                    font-size: calc(0.6 * var(--nue-progress-stroke-width));
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .nue-progress__circle {
        aspect-ratio: 1;
        width: var(--nue-progress-circle-size);
        height: var(--nue-progress-circle-size);

        .nue-progress__circle-path {
            stroke-width: var(--nue-progress-stroke-width);
            fill: transparent;
            transform-origin: center;
            transform: scale(0.9) rotate(-90deg);
            transition: stroke-dashoffset 0.24s linear;
        }

        .nue-progress__outer-path {
            stroke: var(--nue-progress-outerbar-background-color);
        }

        .nue-progress__inner-path {
            stroke: var(--nue-progress-innerbar-background-color);
            stroke-dasharray: var(--nue-progress-stroke-dash-array);
            stroke-dashoffset: var(--nue-progress-stroke-dash-offset);
            stroke-linecap: round;
        }
    }

    .nue-progress__text {
        width: 42px;
        text-align: right;
        color: inherit;
        font-size: var(--nue-text-sm);
    }
}

.nue-progress.nue-progress--bordered {
    position: relative;
    padding: 0;

    .nue-progress__bar {
        .nue-progress__outer-bar {
            border-radius: 0;
            overflow: initial;

            .nue-progress__inner-bar {
                position: relative;
                border-radius: 0;

                .nue-text {
                    position: absolute;
                    right: 0;
                    top: var(--nue-progress-stroke-width);
                    width: fit-content;
                    color: var(--nue-primary-text-color);
                    font-size: min(2rem, calc(2 * var(--nue-progress-stroke-width)));
                    margin: calc(0.25 * var(--nue-progress-stroke-width)) 0 0 0;
                }
            }
        }
    }

    .nue-progress__text {
        position: absolute;
        width: fit-content;
        right: 0;
        top: var(--nue-progress-stroke-width);
    }
}
