.nue-prompt {
    --nue-prompt-open-animation-name: slide-in-from-top;
    --nue-prompt-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-prompt-close-animation-name: slide-out-to-top;
    --nue-prompt-close-animation-duration: var(--nue-overlay-close-animation-duration);

    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 24rem;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    background-color: var(--nue-primary-color-0);
    border-radius: 6px;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    .nue-prompt__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--nue-text-md);
    }

    .nue-prompt__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: auto;
        gap: var(--nue-gap-sm);

        .nue-prompt__description {
            font-size: var(--nue-text-sm);
            color: #757575;
        }
    }

    .nue-prompt__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: var(--nue-gap-sm);
    }

    .nue-prompt__value-error {
        color: var(--nue-error-color-30);
        font-size: var(--nue-text-sm);
    }

    &[data-visible='true'] {
        animation-name: var(--nue-prompt-open-animation-name);
        animation-duration: var(--nue-prompt-open-animation-duration);
    }

    &[data-visible='false'] {
        animation-name: var(--nue-prompt-close-animation-name);
        animation-duration: var(--nue-prompt-close-animation-duration);
    }
}
