.nue-prompt {
    --nue-prompt-open-animation-name: prompt-open;
    --nue-prompt-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-prompt-close-animation-name: prompt-close;
    --nue-prompt-close-animation-duration: var(--nue-overlay-close-animation-duration);

    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 24rem;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    background-color: white;
    border-radius: 6px;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    .nue-prompt__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
    }

    .nue-prompt__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: auto;
        gap: 0.5rem;

        .nue-prompt__description {
            font-size: 0.875rem;
            color: #757575;
        }
    }

    .nue-prompt__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
    }

    .nue-prompt__value-error {
        color: #f44336;
        font-size: 0.875rem;
    }

    &[data-visible='true'] {
        animation-name: var(--nue-prompt-open-animation-name);
        animation-duration: var(--nue-prompt-open-animation-duration);
    }

    &[data-visible='false'] {
        animation-name: var(--nue-prompt-close-animation-name);
        animation-duration: var(--nue-prompt-close-animation-duration);
    }
}

@keyframes prompt-open {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes prompt-close {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-1rem);
    }
}
