.nue-switch {
    --nue-switch-height: 1.5rem;
    --nue-switch-width: fit-content;
    --nue-switch-min-width: calc(var(--nue-switch-height) * 2);
    --nue-switch-state-width: auto;
    --nue-switch-background-color: var(--nue-primary-color-200);
    --nue-switch-background-active-color: var(--nue-primary-color-800);
    --nue-switch-circle-size: calc(var(--nue-switch-height) - 0.25rem);
    --nue-switch-circle-color: var(--nue-primary-color-0);
    --nue-switch-circle-active-color: var(--nue-primary-color-0);
    --nue-switch-font-size: 0.875rem;
}

.nue-switch {
    width: var(--nue-switch-width);
    min-width: var(--nue-switch-min-width);
    height: var(--nue-switch-height);
    border-radius: var(--nue-switch-height);
    background-color: var(--nue-switch-background-color);
    box-sizing: border-box;
    padding: 2px;
    transition: all 0.18s ease-out;
    cursor: pointer;
    box-shadow: 0 0 0.25rem var(--nue-primary-shadow-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

    .nue-switch__circle {
        width: var(--nue-switch-circle-size);
        height: var(--nue-switch-circle-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        flex: none;
        background-color: var(--nue-switch-circle-color);
        transition: all 0.18s ease-out;

        .nue-switch__loading-icon {
            font-size: calc(var(--nue-switch-circle-size) * 0.7);
            color: var(--nue-switch-background-active-color);
        }
    }

    .nue-switch__text {
        transition: all 0.18s ease-out;
        transform: translateX(0);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: var(--nue-switch-font-size);
        flex: auto;
        color: var(--nue-switch-background-active-color);
        padding: 0 0.5rem 0 0.25rem;
        line-height: var(--nue-switch-height);
    }

    &.nue-switch--disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.nue-switch--actived {
        background-color: var(--nue-switch-background-active-color);

        .nue-switch__circle {
            transform: translateX(
                calc(var(--nue-switch-state-width) - var(--nue-switch-circle-size) - 0.25rem)
            );
            background-color: var(--nue-switch-circle-active-color);
        }

        .nue-switch__text {
            padding: 0 0.25rem 0 0.5rem;
            transform: translateX(calc(0.1875rem - var(--nue-switch-height)));
            color: var(--nue-primary-color-0);
        }
    }
}

.nue-switch.nue-switch--small {
    --nue-switch-height: 1.25rem;
    --nue-switch-font-size: 0.75rem;
}

.nue-switch.nue-switch--large {
    --nue-switch-height: 1.75rem;
    --nue-switch-font-size: 1rem;
}
