.nue-text {
    --nue-text-color: unset;
    --nue-text-font-size: unset;
    --nue-text-align: unset;
    --nue-text-decoration: unset;
    --nue-text-font-weight: unset;
    --nue-text-clamped-lines: 3;
}

.nue-text {
    color: var(--nue-text-color, inherit);
    font-size: var(--nue-text-font-size, inherit);
    font-weight: var(--nue-text-font-weight, inherit);
    font-style: var(--nue-text-font-style, inherit);
    text-align: var(--nue-text-align, inherit);
    text-decoration: var(--nue-text-decoration, inherit);
    margin: 0;
    padding: 0;
}

.nue-text:is(h1) {
    --nue-text-font-size: var(--nue-text-3xl);
    --nue-text-font-weight: 800;
    --nue-text-line-height: 3;
    margin: var(--nue-padding-sm) 0;
}

.nue-text:is(h2) {
    --nue-text-font-size: var(--nue-text-2xl);
    --nue-text-font-weight: 700;
    --nue-text-line-height: 2.75;
    margin: var(--nue-padding-sm) 0;
}

.nue-text:is(h3) {
    --nue-text-font-size: var(--nue-text-xl);
    --nue-text-font-weight: 600;
    --nue-text-line-height: 2.25;
}

.nue-text:is(h4) {
    --nue-text-font-size: var(--nue-text-md);
    --nue-text-font-weight: 600;
    --nue-text-line-height: 1.75;
}

.nue-text:is(h5) {
    --nue-text-font-size: var(--nue-text-df);
    --nue-text-font-weight: 600;
}

.nue-text:is(p) {
    --nue-text-font-size: var(--nue-text-df);
    --nue-text-line-height: 1.5;
}

.nue-text--clamped {
    overflow: hidden;
    text-overflow: ellipsis;
}

@supports (-webkit-line-clamp: var(--nue-text-clamped-lines)) {
    .nue-text--clamped {
        display: -webkit-box;
        -webkit-line-clamp: var(--nue-text-clamped-lines);
        line-clamp: var(--nue-text-clamped-lines);
        -webkit-box-orient: vertical;
    }
}
