/* variables */

.nue-text {
    --color: var(--nue-ui-primary-text-color);
    --font-size: var(--nue-ui-text-md);
    --font-weight: var(--nue-ui-primary-font-weight);
    --font-family: var(--nue-ui-primary-font-family);
    --padding-x: 0px;
    --padding-y: 0px;
    --word-wrap: break-word;
    --word-break: break-all;
    --flex: 0 1 auto;
    --background-color: transparent;
    --clamped-lines: 3;
    --line-height: 1.5;
    --text-align: unset;
}

/* original */

.nue-text {
    color: var(--color, inherit);
    text-decoration: var(--text-decoration, inherit);
    text-align: var(--text-align, inherit);
    word-wrap: var(--word-wrap);
    word-break: var(--word-break);
    flex: var(--flex);
    padding: var(--padding-y) var(--padding-x);
    background-color: var(--background-color);
    line-height: var(--line-height);

    &:is(span) {
        font-size: var(--font-size, inherit);
        font-weight: var(--font-weight, inherit);
    }

    &:is(h1) {
        font-size: var(--nue-ui-text-xxxl);
        font-weight: 700;
    }

    &:is(h2) {
        font-size: var(--nue-ui-text-xxl);
        font-weight: 600;
    }

    &:is(h3),
    &.nue-text--h3 {
        font-size: var(--nue-ui-text-xl);
        font-weight: 500;
    }

    &:is(h4) {
        font-weight: 500;
    }
}

/* Built-in styles */

.nue-text--clamped {
    display: block;
    max-height: calc(3 * var(--line-height));
    overflow: hidden;
    text-overflow: ellipsis;
}

@supports (-webkit-line-clamp: var(--clamped-lines)) {
    .nue-text--clamped {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: var(--clamped-lines);
        -webkit-box-orient: vertical;
    }
}
