/* Variables */
.nue-icon {
    --spin-speed: 2s;
}

/* Original styles */
.nue-icon {
    /* line-height: 1; */
    /* aspect-ratio: 1 / 1; */

    &.iconfont::before {
        display: block;
        color: var(--icon-color, inherit);
        font-size: var(--icon-size, inherit);
        font-weight: var(--icon-weight, 500);
        aspect-ratio: 1 / 1;
        line-height: normal;
    }

    &.nue-icon--spin {
        animation: spin var(--spin-speed) infinite linear;
    }
}
