/* Animation */

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Variables */

.nue-icon {
    --font-size: var(--icon-size);
    --line-height: var(--font-size);
    --spin-speed: 2s;
}

/* Original styles */

.nue-icon {
    &.iconfont::before {
        display: block;
        font-size: var(--icon-size);
        color: var(--icon-color);
        font-weight: var(--icon-weight);
        aspect-ratio: 1 / 1;
    }

    &.nue-icon--spin {
        animation: rotation var(--spin-speed) infinite linear;
    }
}
