/* Variabled */

.nue-dialog-wrapper {
    --dialog-width: 36%;
    --dialog-min-width: 360px;
}

/* Original styles */

.nue-dialog-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 120px;
    background-color: rgba(0, 0, 0, 0.48);
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease;

    .nue-dialog {
        display: flex;
        flex-direction: column;
        width: var(--dialog-width);
        min-width: var(--dialog-min-width);
        max-width: var(--dialog-width);
        padding: 16px;
        border-radius: 5px;
        background-color: white;
        gap: 16px;
        transition: all 0.3s ease;
        opacity: 0;
        transform: translateY(-20px);

        .nue-dialog__header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nue-dialog__content {
            width: 100%;
            margin-bottom: 12px;
        }

        .nue-dialog__footer {
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: end;
            gap: 8px;

            .cancel-button {
                --color: #333;
                --border-color: #ccc;
                --background-color: #fff;
                --hover-color: #333;
                --hover-border-color: #ccc;
                --hover-background-color: #f5f5f5;
            }

            .confirm-button {
                --color: #fff;
                --border-color: transparent;
                --background-color: #90909099;
                --hover-background-color: #909090cc;
                --active-background-color: #909090;
            }
        }
    }
}

/* Animation */

.nue-dialog-wrapper--open {
    opacity: 1;

    .nue-dialog {
        transform: translateY(0px);
        opacity: 1;
    }
}
