/* variables */

.nue-switch {
    --height: 24px;
    --width: auto;
    --min-width: calc(var(--height) * 2);
    --state-width: auto;
    --animation-time: 0.16s;
    --background-color: var(--nue-ui-primary-color-300);
    --background-active-color: var(--nue-ui-primary-color-800);
    --circle-size: calc(var(--height) - 4px);
    --circle-color: var(--nue-ui-primary-color-100);
    --circle-active-color: var(--nue-ui-primary-color-100);
    /* after v0.7.0 */
    --switch-font-size: var(--nue-ui-text-default);
}

/* original */

.nue-switch {
    width: var(--width);
    min-width: var(--min-width);
    height: var(--height);
    border-radius: var(--height);
    background-color: var(--background-color);
    box-sizing: border-box;
    padding: 2px;
    transition: all var(--animation-time) ease;
    cursor: pointer;
    box-shadow: var(--nue-ui-secondary-shadow);
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

    .nue-switch__circle {
        width: var(--circle-size);
        height: var(--circle-size);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        flex: none;
        background-color: var(--circle-color);
        transition: all var(--animation-time) ease;
        box-shadow: var(--nue-ui-secondary-shadow);

        .nue-switch__loading-icon {
            font-size: calc(var(--circle-size) * 0.7);
            color: var(--background-active-color);
        }
    }

    .nue-switch__text {
        transition: all var(--animation-time) ease;
        transform: translateX(0);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: var(--switch-font-size);
        flex: auto;
        color: var(--background-active-color);
        padding: 0 8px 0 4px;
    }

    &.nue-switch--disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &.nue-switch--small {
        --height: 21px;
        --switch-font-size: var(--nue-ui-text-xs);
    }

    &.nue-switch--large {
        --height: 27px;
        --switch-font-size: var(--nue-ui-text-md);
    }

    &.nue-switch--actived {
        background-color: var(--background-active-color);

        .nue-switch__circle {
            transform: translateX(
                calc(var(--state-width) - var(--circle-size) - 4px)
            );
            background-color: var(--circle-active-color);
        }

        .nue-switch__text {
            padding: 0 4px 0 8px;
            transform: translateX(calc(3px - var(--height)));
            color: white;
        }
    }
}
