/* variables */

.nue-message-node {
}

.nue-message-node-inner {
    --vgap: 1rem;
    --height: 2.25rem;
    --font-size: var(--nue-text-sm);
    --font-color: var(--nue-primary-color-900);
    --icon-size: var(--font-size);
    --icon-color: var(--font-color);
    --border-color: var(--nue-primary-color-600);
    --background-color: var(--nue-primary-color-300);
    --shadow-color: unset;
}

/* original */

.nue-message-node {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    z-index: 99;
}

.nue-message-node-inner {
    display: flex;
    align-items: center;
    gap: calc(var(--vgap) * 0.5);
    height: var(--height);
    padding: 0 var(--vgap);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--nue-primary-radius);
    box-shadow: 0 0 0.25rem 1px var(--shadow-color);
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    margin-top: -3rem;
    margin-bottom: 0.5rem;
    opacity: 0;

    .nue-message-node-inner__text {
        color: var(--font-color);
        font-size: var(--font-size);
        font-family: inherit;
    }

    &.nue-message-node-inner--push {
        transition: all 0.2s ease-out;
        margin-top: 0.25rem !important;
        opacity: 1;
    }

    &.nue-message-node-inner--small {
        --vgap: 0.75rem;
        --height: 1.75rem;
        --font-size: var(--nue-text-xs);
    }

    &.nue-message-node-inner--large {
        --vgap: 1.25rem;
        --height: 2.625rem;
        --font-size: var(--nue-text-md);
    }

    &.type--success {
        --font-color: #28a745;
        --background-color: #d4edda;
        --border-color: #28a745;
        --shadow-color: rgba(40, 167, 69, 0.3);
    }

    &.type--warning {
        --font-color: #ffc107;
        --background-color: #fff3cd;
        --border-color: #ffc107;
        --shadow-color: rgba(255, 193, 7, 0.3);
    }

    &.type--error {
        --font-color: #dc3545;
        --background-color: #f8d7da;
        --border-color: #dc3545;
        --shadow-color: rgba(220, 53, 69, 0.3);
    }

    &.type--info {
        --font-color: #17a2b8;
        --background-color: #d1ecf1;
        --border-color: #17a2b8;
        --shadow-color: rgba(23, 162, 184, 0.3);
    }

    &.type--log {
        --font-color: #131313;
        --background-color: #ededed;
        --border-color: #363636;
        --shadow-color: rgba(0, 0, 0, 0.2);
    }
}
