.nue-checkbox {
    --nue-checkbox-height: 2rem;
    --nue-checkbox-padding: calc(0.4 * var(--nue-checkbox-height));
    --nue-checkbox-gap: calc(0.5 * var(--nue-checkbox-padding));
    --nue-checkbox-label-size: calc(0.4 * var(--nue-checkbox-height));
    --nue-checkbox-icon-size: calc(var(--nue-checkbox-label-size) + 0.4rem);
    --nue-checkbox-icon-color: inherit;

    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: all 0.16s ease-out;
    flex: none;

    height: var(--nue-checkbox-height);
    gap: var(--nue-checkbox-gap);
    padding: 0 var(--nue-checkbox-padding);

    .nue-checkbox__icon {
        --icon-size: var(--nue-checkbox-icon-size);
        --icon-color: var(--nue-checkbox-icon-color);
    }

    .nue-checkbox__label {
        font-size: var(--nue-checkbox-label-size);
        color: var(--nue-checkbox-label-color);
    }

    &.nue-checkbox--checked {
        --nue-check-icon-color: #666666;
        --nue-check-label-color: #666666;
    }

    &.nue-checkbox--disabled,
    &.nue-checkbox--loading {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.nue-checkbox--small {
        --nue-checkbox-height: 1.75rem;
    }

    &.nue-checkbox--large {
        --nue-checkbox-height: 2.625rem;
    }
}
