/* Variables */

.nue-checkbox {
    --padding: 0px;
    --border-color: transparent;
    --border-radius: var(--nue-ui-primary-radius);
    --box-shadow: none;
    --nue-check-label-size: var(--nue-ui-text-default);
    --nue-check-label-color: var(--nue-ui-primary-color-900);
    --nue-check-icon-size: calc(var(--nue-check-label-size) + 2px);
    --nue-check-icon-color: var(--nue-ui-primary-color-600);
    --animation-time: 0.16s;
}

/* Original */

.nue-checkbox {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    padding: var(--padding);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all var(--animation-time) ease;

    .nue-checkbox__icon {
        color: var(--nue-check-icon-color);
        --icon-size: var(--nue-check-icon-size);
    }

    .nue-checkbox__label {
        font-size: var(--nue-check-label-size);
        color: var(--nue-check-label-color);
        line-height: normal;
        user-select: none;
        -webkit-user-select: none;
    }
}

/* small */

.nue-checkbox--small {
    gap: 4px;
    --nue-check-label-size: var(--nue-ui-text-xs);
}

/* large */

.nue-checkbox--large {
    gap: 8px;
    --nue-check-label-size: var(--nue-ui-text-lg);
}

/* checked */

.nue-checkbox--checked {
    --nue-check-icon-color: var(--nue-ui-primary-color-900);
    --nue-check-label-color: var(--nue-ui-primary-color-900);
}

/* disabled & loading */

.nue-checkbox--disabled,
.nue-checkbox--loading {
    opacity: 0.5;
    cursor: not-allowed;
}

/* bordered */

.nue-checkbox--bordered,
.nue-checkbox--bd {
    --nue-checkbox-vgap: var(--nue-ui-secondary-gap);
    --border-color: var(--nue-ui-border-color);
    --border-radius: var(--nue-ui-primary-radius);
    --box-shadow: var(--nue-ui-secondary-shadow);
    gap: var(--nue-checkbox-vgap);
    padding: calc(var(--nue-checkbox-vgap) * 0.5) var(--nue-checkbox-vgap);
}
