.nue-checkbox {
    --nue-checkbox-height: 2rem;
    --nue-checkbox-padding: calc(0.25 * var(--nue-checkbox-height));
    --nue-checkbox-gap: var(--nue-checkbox-padding);
    --nue-checkbox-label-size: 0.875rem;
    --nue-checkbox-icon-size: calc(1.4285714286 * var(--nue-checkbox-label-size));
    --nue-checkbox-label-color: #616161;
    --nue-checkbox-icon-color: #424242;

    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex: none;

    width: fit-content;
    height: var(--nue-checkbox-height);
    gap: var(--nue-checkbox-gap);
    padding: 0 var(--nue-checkbox-padding);

    .nue-checkbox__icon {
        --nue-icon-size: var(--nue-checkbox-icon-size);
        --nue-icon-color: var(--nue-checkbox-icon-color);
    }

    .nue-checkbox__label {
        font-size: var(--nue-checkbox-label-size);
        color: var(--nue-checkbox-label-color);
        line-height: 1;
    }

    &.nue-checkbox--checked {
        --nue-checkbox-icon-color: #212121;
        --nue-checkbox-label-color: #212121;
    }

    &.nue-checkbox--disabled,
    &.nue-checkbox--loading {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.nue-checkbox--small {
        --nue-checkbox-height: 1.625rem;
        --nue-checkbox-label-size: 0.8125rem;
    }

    &.nue-checkbox--large {
        --nue-checkbox-height: 2.625rem;
        --nue-checkbox-label-size: 1.125rem;
    }
}
