/* variables */

.nue-divider {
    --border-width: 1px;
    --border-type: solid;
    --border-color: #e5e5e5;
    --border-style: var(--border-width) var(--border-type) var(--border-color);
    --justify-content: start;
}

/* original */

.nue-divider {
    display: flex;
    align-items: center;
    justify-content: var(--justify-content);
    position: relative;

    .nue-divider__line {
        box-sizing: border-box;
        border: none;
        position: absolute;
    }

    .nue-divider__text {
        z-index: 2;
        margin: 0 16px;
        background-color: white;
        color: var(--nue-primary-text-color);
        font-size: var(--nue-text-df);
        font-weight: var(--nue-primary-font-weight);

        .nue-divider__text__inner {
            padding: 0 16px;
        }
    }
}

/* horizontal */

.nue-divider--horizontal {
    width: 100%;
    min-height: var(--border-width);

    .nue-divider__line {
        width: 100%;
        max-height: var(--border-width);
        top: calc(50% - var(--border-width) / 2);
        border-bottom: var(--border-style);
    }
}

/* vertical */

.nue-divider--vertical {
    min-width: var(--border-width);
    height: 24px;

    .nue-divider__line {
        width: var(--border-width);
        height: 100%;
        border-left: var(--border-style);
    }
}
