/* Colors */
:root {
    /* Saturations */
    --nue-hsl-s0: 0%;
    --nue-hsl-s10: 10%;
    --nue-hsl-s20: 20%;
    --nue-hsl-s30: 30%;
    --nue-hsl-s40: 40%;
    --nue-hsl-s50: 50%;
    --nue-hsl-s60: 60%;
    --nue-hsl-s70: 70%;
    --nue-hsl-s80: 80%;
    --nue-hsl-s90: 90%;
    --nue-hsl-s100: 100%;

    /* Lightness */
    --nue-hsl-l0: 0%;
    --nue-hsl-l5: 5%;
    --nue-hsl-l10: 10%;
    --nue-hsl-l15: 15%;
    --nue-hsl-l20: 20%;
    --nue-hsl-l25: 25%;
    --nue-hsl-l30: 30%;
    --nue-hsl-l35: 35%;
    --nue-hsl-l40: 40%;
    --nue-hsl-l45: 45%;
    --nue-hsl-l50: 50%;
    --nue-hsl-l55: 55%;
    --nue-hsl-l60: 60%;
    --nue-hsl-l65: 65%;
    --nue-hsl-l70: 70%;
    --nue-hsl-l75: 75%;
    --nue-hsl-l80: 80%;
    --nue-hsl-l85: 85%;
    --nue-hsl-l90: 90%;
    --nue-hsl-l95: 95%;
    --nue-hsl-l100: 100%;

    /* Opacity */
    --nue-hsl-o0: 0%;
    --nue-hsl-o20: 20%;
    --nue-hsl-o40: 40%;
    --nue-hsl-o60: 60%;
    --nue-hsl-o80: 80%;
    --nue-hsl-o100: 100%;

    /* Hues */
    --nue-brand-hue: 0;
    --nue-success-hue: 120;
    --nue-warning-hue: 30;
    --nue-error-hue: 10;

    /* Primary */
    --nue-primary-color-0: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l100));
    --nue-primary-color-100: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l95));
    --nue-primary-color-200: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l90));
    --nue-primary-color-300: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l80));
    --nue-primary-color-400: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l70));
    --nue-primary-color-500: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l60));
    --nue-primary-color-600: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l50));
    --nue-primary-color-700: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l40));
    --nue-primary-color-800: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l30));
    --nue-primary-color-900: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l20));

    /* Success */
    --nue-success-color-10: hsl(var(--nue-success-hue), var(--nue-hsl-s80), var(--nue-hsl-l95));
    --nue-success-color-20: hsl(var(--nue-success-hue), var(--nue-hsl-s80), var(--nue-hsl-l85));
    --nue-success-color-30: hsl(var(--nue-success-hue), var(--nue-hsl-s80), var(--nue-hsl-l75));
    --nue-success-color-40: hsl(var(--nue-success-hue), var(--nue-hsl-s80), var(--nue-hsl-l65));
    --nue-success-color-50: hsl(var(--nue-success-hue), var(--nue-hsl-s80), var(--nue-hsl-l55));

    /* Warning */
    --nue-warning-color-10: hsl(var(--nue-warning-hue), var(--nue-hsl-s90), var(--nue-hsl-l95));
    --nue-warning-color-20: hsl(var(--nue-warning-hue), var(--nue-hsl-s90), var(--nue-hsl-l85));
    --nue-warning-color-30: hsl(var(--nue-warning-hue), var(--nue-hsl-s90), var(--nue-hsl-l75));
    --nue-warning-color-40: hsl(var(--nue-warning-hue), var(--nue-hsl-s90), var(--nue-hsl-l65));
    --nue-warning-color-50: hsl(var(--nue-warning-hue), var(--nue-hsl-s90), var(--nue-hsl-l55));

    /* Error */
    --nue-error-color-10: hsl(var(--nue-error-hue), var(--nue-hsl-s90), var(--nue-hsl-l95));
    --nue-error-color-20: hsl(var(--nue-error-hue), var(--nue-hsl-s90), var(--nue-hsl-l85));
    --nue-error-color-30: hsl(var(--nue-error-hue), var(--nue-hsl-s90), var(--nue-hsl-l75));
    --nue-error-color-40: hsl(var(--nue-error-hue), var(--nue-hsl-s90), var(--nue-hsl-l65));
    --nue-error-color-50: hsl(var(--nue-error-hue), var(--nue-hsl-s90), var(--nue-hsl-l55));

    /* Theme */
    --nue-link-color: hsl(200, var(--nue-hsl-90), var(--nue-hsl-l90));
    --nue-border-color: var(--nue-primary-color-200);
    --nue-divider-color: var(--nue-primary-color-200);
    --nue-disabled-color: var(--nue-primary-color-500);
    --nue-primary-text-color: var(--nue-primary-color-900);
    --nue-secondary-text-color: var(--nue-primary-color-700);

    /* Shadows */
    --nue-primary-shadow-color: color(from var(--nue-primary-color-500) srgb r g b / 0.5);
    --nue-secondary-shadow-color: color(from var(--nue-primary-color-200) srgb r g b / 0.5);
}

/* Typography */

:root {
    /* Fonts */
    --nue-primary-font-size-base: 16px;
    --nue-primary-font-family: 'Noto Color Emoji', sans-serif;
    --nue-primary-font-size: 1rem;
    --nue-primary-font-weight: 400;
    --nue-primary-line-height: normal;

    /* Text sizes */
    --nue-text-xs: calc(var(--nue-text-df) * 0.75);
    --nue-text-sm: calc(var(--nue-text-df) * 0.875);
    --nue-text-df: calc(var(--nue-primary-font-size) * 0.875);
    --nue-text-md: calc(var(--nue-text-df) * 1.125);
    --nue-text-lg: calc(var(--nue-text-df) * 1.25);
    --nue-text-xl: calc(var(--nue-text-df) * 1.375);
    --nue-text-2xl: calc(var(--nue-text-df) * 1.5);
    --nue-text-3xl: calc(var(--nue-text-df) * 1.75);
}

/* Layout */

:root {
    /* Paddings */
    --nue-primary-padding: 1rem;
    --nue-secondary-padding: 0.5rem;
    --nue-padding-xs: 0.25rem;
    --nue-padding-sm: 0.5rem;
    --nue-padding-df: 0.875rem;
    --nue-padding-lg: 1rem;

    /* Gaps */
    --nue-primary-gap: 1rem;
    --nue-secondary-gap: 0.5rem;
    --nue-gap-xs: 0.25rem;
    --nue-gap-sm: 0.5rem;
    --nue-gap-df: 0.875rem;
    --nue-gap-lg: 1rem;

    /* Radius */
    --nue-primary-radius: 0.375rem;

    /* Shadows */
    --nue-primary-shadow: 1px 1px 3px var(--nue-primary-shadow-color);
    --nue-secondary-shadow: 1px 1px 3px var(--nue-secondary-shadow-color);

    /* Box sizes */
    --nue-box-size-sm: 1.75rem;
    --nue-box-size-df: 2.25rem;
    --nue-box-size-lg: 2.75rem;
}

/* Animation */

:root {
    /* Durations */
    --nue-animation-duration-xshort: 0.06s;
    --nue-animation-duration-short: 0.18s;
    --nue-animation-duration: 0.36s;
    --nue-animation-duration-long: 0.54s;

    /* Timing function */
    --nue-animation-timing-function: ease-in-out;
}
