/* Colors */
:root {
    /* Dark theme switch */
    --nue-dark-switch: 0;
    --nue-dark-prefix: calc(cos(pi * var(--nue-dark-switch)) * -1);

    /* Saturations */
    --nue-hsl-s0: 0%;
    --nue-hsl-s10: calc(10% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s20: calc(20% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s30: calc(30% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s40: calc(40% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s50: calc(50% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s60: calc(60% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s70: calc(70% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s80: calc(80% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s90: calc(90% - var(--nue-dark-switch) * 10%);
    --nue-hsl-s100: calc(100% - var(--nue-dark-switch) * 10%);

    /* Lightness */
    --nue-hsl-l0: calc(0% + var(--nue-dark-switch) * 90%);
    --nue-hsl-l5: calc(5% + var(--nue-dark-switch) * 85%);
    --nue-hsl-l10: calc(10% + var(--nue-dark-switch) * 80%);
    --nue-hsl-l15: calc(15% + var(--nue-dark-switch) * 70%);
    --nue-hsl-l20: calc(20% + var(--nue-dark-switch) * 60%);
    --nue-hsl-l25: calc(25% + var(--nue-dark-switch) * 50%);
    --nue-hsl-l30: calc(30% + var(--nue-dark-switch) * 40%);
    --nue-hsl-l35: calc(35% + var(--nue-dark-switch) * 30%);
    --nue-hsl-l40: calc(40% + var(--nue-dark-switch) * 20%);
    --nue-hsl-l45: calc(45% + var(--nue-dark-switch) * 10%);
    --nue-hsl-l50: calc(50% + var(--nue-dark-switch) * 0%);
    --nue-hsl-l55: calc(55% + var(--nue-dark-switch) * -10%);
    --nue-hsl-l60: calc(60% + var(--nue-dark-switch) * -20%);
    --nue-hsl-l65: calc(65% + var(--nue-dark-switch) * -30%);
    --nue-hsl-l70: calc(70% + var(--nue-dark-switch) * -40%);
    --nue-hsl-l75: calc(75% + var(--nue-dark-switch) * -50%);
    --nue-hsl-l80: calc(80% + var(--nue-dark-switch) * -60%);
    --nue-hsl-l85: calc(85% + var(--nue-dark-switch) * -70%);
    --nue-hsl-l90: calc(90% + var(--nue-dark-switch) * -80%);
    --nue-hsl-l95: calc(95% + var(--nue-dark-switch) * -85%);
    --nue-hsl-l100: calc(100% + var(--nue-dark-switch) * -90%);

    /* Opacity */
    --nue-hsl-o0: 0%;
    --nue-hsl-o20: 20%;
    --nue-hsl-o40: 40%;
    --nue-hsl-o60: 60%;
    --nue-hsl-o80: 80%;
    --nue-hsl-o100: 100%;

    /* Hues */
    --nue-brand-hue: 0;
    --nue-success-hue: 120;
    --nue-warning-hue: 30;
    --nue-error-hue: 10;

    /* Primary */
    --nue-primary-color-0: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l100));
    --nue-primary-color-100: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l95));
    --nue-primary-color-200: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l80));
    --nue-primary-color-300: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l70));
    --nue-primary-color-400: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l60));
    --nue-primary-color-500: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l50));
    --nue-primary-color-600: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l40));
    --nue-primary-color-700: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l30));
    --nue-primary-color-800: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l20));
    --nue-primary-color-900: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l10));
    --nue-primary-color-1000: hsl(var(--nue-brand-hue), var(--nue-hsl-s0), var(--nue-hsl-l0));

    /* Success */
    --nue-success-color-0: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l100));
    --nue-success-color-10: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l90));
    --nue-success-color-20: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l80));
    --nue-success-color-30: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l70));
    --nue-success-color-40: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l60));
    --nue-success-color-50: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l50));
    --nue-success-color-60: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l45));
    --nue-success-color-70: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l40));
    --nue-success-color-80: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l35));
    --nue-success-color-90: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l30));
    --nue-success-color-100: hsl(var(--nue-success-hue), var(--nue-hsl-s70), var(--nue-hsl-l25));

    /* Warning */
    --nue-warning-color-0: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l100));
    --nue-warning-color-10: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l90));
    --nue-warning-color-20: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l80));
    --nue-warning-color-30: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l70));
    --nue-warning-color-40: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l60));
    --nue-warning-color-50: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l50));
    --nue-warning-color-60: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l45));
    --nue-warning-color-70: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l40));
    --nue-warning-color-80: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l35));
    --nue-warning-color-90: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l30));
    --nue-warning-color-100: hsl(var(--nue-warning-hue), var(--nue-hsl-s80), var(--nue-hsl-l25));

    /* Error */
    --nue-error-color-0: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l100));
    --nue-error-color-10: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l90));
    --nue-error-color-20: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l80));
    --nue-error-color-30: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l70));
    --nue-error-color-40: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l60));
    --nue-error-color-50: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l50));
    --nue-error-color-60: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l45));
    --nue-error-color-70: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l40));
    --nue-error-color-80: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l35));
    --nue-error-color-90: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l30));
    --nue-error-color-100: hsl(var(--nue-error-hue), var(--nue-hsl-s80), var(--nue-hsl-l25));

    /* Theme */
    --nue-link-color: hsl(200, var(--nue-hsl-90), var(--nue-hsl-l80));
    --nue-divider-color: hsl(
        from var(--nue-primary-color-200) h s calc(l + var(--nue-dark-switch) * 10)
    );
    --nue-border-color: var(--nue-divider-color);
    --nue-disabled-color: var(--nue-primary-color-500);
    --nue-primary-text-color: var(--nue-primary-color-800);
    --nue-secondary-text-color: var(--nue-primary-color-600);

    /* Shadows */
    --nue-primary-shadow-color: hsl(
        from var(--nue-primary-color-500) h s calc(l + var(--nue-dark-switch) * 10) / 0.5
    );
    --nue-secondary-shadow-color: hsl(
        from var(--nue-primary-color-200) h s calc(l + var(--nue-dark-switch) * 10) / 0.5
    );
}

/* Typography */

:root {
    /* Fonts */
    --nue-primary-font-size-base: 16px;
    --nue-primary-font-family: 'Noto Color Emoji', sans-serif;
    --nue-primary-font-size: 1rem;
    --nue-primary-font-weight: 400;
    --nue-primary-line-height: normal;

    /* Text sizes */
    --nue-text-xs: calc(var(--nue-text-df) * 0.75);
    --nue-text-sm: calc(var(--nue-text-df) * 0.875);
    --nue-text-df: calc(var(--nue-primary-font-size) * 0.875);
    --nue-text-md: calc(var(--nue-text-df) * 1.125);
    --nue-text-lg: calc(var(--nue-text-df) * 1.25);
    --nue-text-xl: calc(var(--nue-text-df) * 1.375);
    --nue-text-2xl: calc(var(--nue-text-df) * 1.5);
    --nue-text-3xl: calc(var(--nue-text-df) * 1.75);
}

/* Layout */

:root {
    /* Paddings */
    --nue-primary-padding: 1rem;
    --nue-secondary-padding: 0.5rem;
    --nue-padding-xs: 0.25rem;
    --nue-padding-sm: 0.5rem;
    --nue-padding-df: 0.75rem;
    --nue-padding-lg: 1rem;

    /* Gaps */
    --nue-primary-gap: 1rem;
    --nue-secondary-gap: 0.5rem;
    --nue-gap-xs: 0.25rem;
    --nue-gap-sm: 0.5rem;
    --nue-gap-df: 0.875rem;
    --nue-gap-lg: 1rem;

    /* Radius */
    --nue-primary-radius: 0.375rem;

    /* Shadows */
    --nue-primary-shadow: 1px 1px 3px var(--nue-primary-shadow-color);
    --nue-secondary-shadow: 1px 1px 3px var(--nue-secondary-shadow-color);

    /* Box sizes */
    --nue-box-size-sm: 1.75rem;
    --nue-box-size-df: 2.25rem;
    --nue-box-size-lg: 2.75rem;
}

/* Animation */

:root {
    /* Durations */
    --nue-animation-duration-xshort: 0.06s;
    --nue-animation-duration-short: 0.18s;
    --nue-animation-duration: 0.36s;
    --nue-animation-duration-long: 0.54s;

    /* Timing function */
    --nue-animation-timing-function: ease-in-out;
}
