.nue-button-group {
    --nue-button-group-flex: none;
    --nue-button-group-border-radius: 6px;
    --nue-button-group-box-shadow: 0 0 3px 1px rgba(200, 200, 200, 0.3);

    display: flex;
    align-items: center;
    overflow: hidden;
    width: fit-content;

    flex: var(--nue-button-group-flex);
    box-shadow: var(--nue-button-group-box-shadow);
    border-radius: var(--nue-button-group-border-radius);

    & > .nue-button {
        border-radius: 0;
        margin-left: -1px;
        box-shadow: none;

        &:first-child {
            margin-left: 0;
            border-top-left-radius: var(--nue-button-group-border-radius);
            border-bottom-left-radius: var(--nue-button-group-border-radius);
            box-shadow: none;
        }

        &:last-child {
            border-top-right-radius: var(--nue-button-group-border-radius);
            border-bottom-right-radius: var(--nue-button-group-border-radius);
            box-shadow: none;
        }
    }
}
