/* Variables */

.nue-button-group {
    --flex: none;
    --border-radius: var(--nue-primary-radius);
}

/* Original styles */

.nue-button-group {
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: var(--nue-secondary-shadow);
    flex: var(--flex);
    width: fit-content;
    border-radius: var(--border-radius);

    & > .nue-button {
        border-radius: 0;
        margin-left: -1px;
        box-shadow: none;

        &:first-child {
            margin-left: 0;
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
            box-shadow: none;
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            box-shadow: none;
        }
    }
}
