.nue-checkbox {
    --nue-checkbox-border-color: transparent;
    --nue-checkbox-border-radius: var(--nue-primary-radius);
    --nue-checkbox-box-shadow: none;
    --nue-checkbox-label-color: var(--nue-primary-color-900);
    --nue-checkbox-icon-color: var(--nue-primary-color-900);

    border: 1px solid var(--nue-checkbox-border-color);
    border-radius: var(--nue-checkbox-border-radius);
    box-shadow: var(--nue-checkbox-box-shadow);
}

.nue-checkbox--bordered,
.nue-checkbox--bd {
    --nue-checkbox-border-color: var(--nue-border-color);
    --nue-checkbox-border-radius: var(--nue-primary-radius);
    --nue-checkbox-box-shadow: var(--nue-secondary-shadow);
}
