.nue-message-node-inner {
    &.nue-message-node-inner--success {
        --nue-message-node-inner-color: #28a745;
        --nue-message-node-inner-background-color: #d4edda;
        --nue-message-node-inner-border-color: #28a745;
        --nue-message-node-inner-shadow-color: rgba(40, 167, 69, 0.3);
    }

    &.nue-message-node-inner--warning {
        --nue-message-node-inner-color: #ffc107;
        --nue-message-node-inner-background-color: #fff3cd;
        --nue-message-node-inner-border-color: #ffc107;
        --nue-message-node-inner-shadow-color: rgba(255, 193, 7, 0.3);
    }

    &.nue-message-node-inner--error {
        --nue-message-node-inner-color: #dc3545;
        --nue-message-node-inner-background-color: #f8d7da;
        --nue-message-node-inner-border-color: #dc3545;
        --nue-message-node-inner-shadow-color: rgba(220, 53, 69, 0.3);
    }

    &.nue-message-node-inner--info {
        --nue-message-node-inner-color: #17a2b8;
        --nue-message-node-inner-background-color: #d1ecf1;
        --nue-message-node-inner-border-color: #17a2b8;
        --nue-message-node-inner-shadow-color: rgba(23, 162, 184, 0.3);
    }

    &.nue-message-node-inner--log {
        --nue-message-node-inner-color: #131313;
        --nue-message-node-inner-background-color: #ededed;
        --nue-message-node-inner-border-color: #363636;
        --nue-message-node-inner-shadow-color: rgba(0, 0, 0, 0.2);
    }
}
