.nue-text {
    &:is(h1) {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 3;
    }

    &:is(h2) {
        font-size: var(--nue-text-xxl);
        font-weight: 700;
        line-height: 2.75;
    }

    &:is(h3) {
        font-size: var(--nue-text-xl);
        font-weight: 600;
        line-height: 2.25;
    }

    &:is(h4) {
        font-size: var(--nue-text-md);
        font-weight: 500;
        line-height: 1.75;
    }

    &:is(span) {
        line-height: normal;
    }

    &:is(p) {
        line-height: normal;
    }
}
