.nue-text {
    &:is(span) {
        --nue-text-line-height: 1.3;
    }

    &:is(p) {
        --nue-text-line-height: 1.5;
    }

    &:is(h1) {
        --nue-text-font-size: 1.5rem;
        --nue-text-font-weight: 800;
        --nue-text-line-height: 3;
    }

    &:is(h2) {
        --nue-text-font-size: var(--nue-text-xxl);
        --nue-text-font-weight: 700;
        --nue-text-line-height: 2.75;
    }

    &:is(h3) {
        --nue-text-font-size: var(--nue-text-xl);
        --nue-text-font-weight: 600;
        --nue-text-line-height: 2.25;
    }

    &:is(h4) {
        --nue-text-font-size: var(--nue-text-md);
        --nue-text-font-weight: 500;
        --nue-text-line-height: 1.75;
    }
}
