/* Variables */

.nue-badge {
    --nue-badge-vgap: 4px;
    --nue-badge-font-size: var(--nue-ui-text-xs);
    --nue-badge-background-color: #e96b36;
}

/* Original styles */

.nue-badge {
    user-select: none;
    -webkit-user-select: none;
    position: relative;

    .nue-badge__content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        line-height: normal;
        font-size: var(--nue-badge-font-size);
        padding: calc(var(--nue-badge-vgap) * 0.5) var(--nue-badge-vgap);
        border: 1px solid var(--nue-badge-background-color);
        background-color: var(--nue-badge-background-color);
        border-radius: var(--nue-ui-primary-radius);

        &:is(sup) {
            font-size: var(--nue-badge-font-size);
            position: absolute;
            left: calc(100% - calc(var(--nue-badge-vgap) * 3));
            bottom: calc(100% - calc(var(--nue-badge-vgap) * 3));
        }
    }
}

/* dot */

.nue-badge--dot .nue-badge__content {
    width: calc(var(--nue-badge-vgap) * 2.5);
    height: calc(var(--nue-badge-vgap) * 2.5);
    padding: calc(var(--nue-badge-vgap) * 0.5);
    border-radius: 999px;

    &:is(sup) {
        left: calc(100% - calc(var(--nue-badge-vgap) * 1.5));
        bottom: calc(100% - calc(var(--nue-badge-vgap) * 1.5));
    }
}

/* inner */

.nue-badge--inner .nue-badge__content {
    flex: none;
    border: none;
}
