/* Variables */

.nue-badge {
    --nue-badge-vgap: 4px;
    --nue-badge-font-size: var(--nue-ui-text-xs);
    --nue-badge-background-color: #e96b36;
}

/* Original styles */

.nue-badge {
    user-select: none;
    -webkit-user-select: none;
    position: relative;

    .nue-badge__content {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        line-height: 1.2;
        font-size: var(--nue-badge-font-size);
        padding: calc(var(--nue-badge-vgap) * 0.5) var(--nue-badge-vgap);
        border: 1px solid var(--nue-badge-background-color);
        background-color: var(--nue-badge-background-color);
        border-radius: var(--nue-ui-primary-radius);

        &:is(sup) {
            font-size: var(--nue-badge-font-size);
            position: absolute;
            right: -12px;
            top: -12px;
        }
    }
}

/* dot */

.nue-badge--dot .nue-badge__content {
    width: calc(var(--nue-badge-vgap) * 2);
    padding: 0;
    aspect-ratio: 1;
    flex: none;
    border-radius: 999px;

    &:is(sup) {
        right: -4px;
        top: -4px;
    }
}

/* inner */

.nue-badge--inner .nue-badge__content {
    border: none;
}
