.nue-badge {
    --nue-badge-vgap: 0.375rem;
    --nue-badge-width: fit-content;
    --nue-badge-height: fit-content;
    --nue-badge-bg-color: #616161;
    --nue-badge-font-size: 0.75rem;
    --nue-badge-color: #f5f5f5;

    width: fit-content;
    height: fit-content;
    position: relative;
    flex: none;
    user-select: none;
    -webkit-user-select: none;

    .nue-badge__content {
        display: block;
        width: var(--nue-badge-width);
        height: var(--nue-badge-height);
        padding: calc(var(--nue-badge-vgap) / 2) var(--nue-badge-vgap);
        background-color: var(--nue-badge-bg-color);
        border-radius: 0.375rem;
        box-sizing: border-box;

        &:is(sup) {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -60%);

            .nue-text {
                color: var(--nue-badge-color);
                font-size: var(--nue-badge-font-size);
                line-height: 1;
            }
        }

        &:is(span) {
            background-color: transparent;
            font-size: var(--nue-badge-font-size);
        }
    }
}

.nue-badge--dot {
    .nue-badge__content {
        --nue-badge-height: 0.75rem;

        aspect-ratio: 1;
        padding: 0;
        border-radius: 99px;

        &:is(sup) {
            transform: translate(50%, -50%);
        }

        &:is(span) {
            --nue-badge-height: 0.5rem;
            background-color: var(--nue-badge-bg-color);
        }
    }
}
