/* Animation */

@keyframes marquee-infinite-slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(
            calc(0px - (var(--marquee-track-width) + var(--marquee-gap)) / 2)
        );
    }
}

@keyframes marquee-slide {
    from {
        transform: translateX(var(--marquee-width));
    }
    to {
        transform: translateX(calc(0px - var(--marquee-track-width)));
    }
}

/* Variables */

.nue-marquee {
    --marquee-gap: 36px;
    --marquee-width: 0;
    --marquee-track-width: 0;
    --marquee-transform-offset: 0;
}

/* Original styles */

.nue-marquee {
    display: flex;
    width: 100%;
    overflow: hidden;

    .nue-marquee__track {
        display: flex;
        align-items: center;
        gap: 36px;
        background: transparent;
        animation-name: marquee-slide;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &.nue-marquee__track--infinite {
            animation-name: marquee-infinite-slide !important;
        }
    }

    .nue-marquee-item {
        width: 128px;
        aspect-ratio: 3 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #efefef;
        border-radius: 12px;
    }
}
