.nue-header {
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;

    .nue-header__left,
    .nue-header__right {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .nue-header__logo-slot,
    .nue-header__nav-slot,
    .nue-header__ops-slot,
    .nue-header__user-slot {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .nue-header__logo-slot {
        font-size: 24px;
    }

    .nue-header__nav-slot {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;

        .nue-link {
            display: block;
            height: 100%;
            padding: 4px 6px;
            border-radius: 5px;
        }
    }
}
