.nue-confirm {
    --nue-confirm-animation-name: var(--nue-overlay-animation-name);
    --nue-confirm-animation-duration: var(--nue-overlay-animation-duration, 0.24s);
    --nue-confirm-close-animation-name: var(--nue-overlay-close-animation-name);
    --nue-confirm-close-animation-duration: var(--nue-overlay-close-animation-duration, 0.24s);

    display: flex;
    flex-direction: column;
    width: auto;
    max-width: calc(100vw - 2rem);
    height: auto;
    max-height: calc(100vh - 2rem);
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 6px;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    .nue-confirm__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        color: #212121;
    }

    .nue-confirm__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        flex: auto;
        margin: 0.5rem 0 1rem;
        font-size: 0.875rem;
        color: #757575;
    }

    .nue-confirm__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
    }

    &[data-visible='true'] {
        animation-name: var(--nue-confirm-animation-name);
        animation-duration: var(--nue-confirm-animation-duration);
    }

    &[data-visible='false'] {
        animation-name: var(--nue-confirm-close-animation-name);
        animation-duration: var(--nue-confirm-close-animation-duration);
    }
}
