/* variables */

.nue-confirm {
    --animation-name: slide-in-from-top;
    --animation-rest-property: 0.24s ease-out forwards;
}

/* original */

.nue-confirm {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 24rem;
    padding: 1rem;
    border-radius: var(--nue-primary-radius);
    background-color: var(--nue-primary-color-100);
    animation: var(--animation-name) var(--animation-rest-property);
    box-sizing: border-box;

    .nue-confirm__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: var(--nue-text-md);
    }

    .nue-confirm__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        flex: auto;
        margin: 0.5rem 0 1rem;
        font-size: var(--nue-text-sm);
        color: var(--nue-primary-color-600);
    }

    .nue-confirm__footer {
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: end;
        gap: 0.5rem;
    }
}
