/* Animations */

@keyframes fade-in {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.48);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Variables */

.nue-confirm-inner {
    --font-family: var(--mainly-font-family);
}

/* Original styles */

.nue-confirm-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 8%;
    background-color: rgba(0, 0, 0, 0.48);
    overflow: hidden;
    box-sizing: border-box;
    animation: fade-in 0.16s ease-in 1 forwards;

    .nue-confirm {
        display: flex;
        flex-direction: column;
        width: 24%;
        min-width: 280px;
        padding: 16px;
        border-radius: 5px;
        background-color: #fff;
        gap: 16px;
        transition: all 0.3s ease;
        opacity: 0;
        font-family: var(--font-family);
        color: var(--mainly-font-color);

        .nue-confirm__header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nue-button--icon-only {
                --font-size: 14px;
            }
        }

        .nue-confirm__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            flex: 1 1 auto;
            font-size: var(--mainly-font-size);
        }

        .nue-confirm__footer {
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: end;
            gap: 8px;

            .nue-confirm__cancel-btn {
                --background-color: #fff;
                --border-color: #ccc;
                --font-color: #333;
                --hover-background-color: #f5f5f5;
                --hover-border-color: #ccc;
                --hover-text-color: #333;
            }

            .nue-confirm__confirm-btn {
                --font-color: #fff;
                --border-color: transparent;
                --background-color: rgba(144, 144, 144, 0.6);
                --hover-background-color: rgba(144, 144, 144, 0.8);
                --active-background-color: rgba(144, 144, 144, 1);
            }
        }
    }
}
