.nue-aside {
    --nue-aside-width: unset;
    --nue-aside-min-width: unset;
    --nue-aside-max-width: unset;
    --nue-aside-animation-duration: 0.32s;

    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--nue-primary-padding);
    gap: var(--nue-primary-gap);
    flex: none;
    width: var(--nue-aside-width);
    min-width: var(--nue-aside-min-width);
    max-width: var(--nue-aside-max-width);
    overflow: auto;
    overflow-x: hidden;
    background-color: transparent;
    box-sizing: border-box;
}

.nue-aside[data-collapsed='true'] {
    min-width: 4.5rem;
    width: 4.5rem !important;
    transition: all var(--nue-aside-animation-duration) ease-out;

    .nue-link--btnlike,
    .nue-link--rl {
        --vgap: 0;
        --alignment: center;

        .nue-link__content {
            width: 0;
            flex: none;
            display: none;
        }
    }

    .nue-collapse--menu {
        .nue-collapse-item__header {
            padding-left: 0;
            padding-right: 0;
            justify-content: center;

            .nue-collapse-item__title {
                display: none !important;
            }
        }
    }
}
