/* Variabled */
.nue-container {
    --height: 100%;
    --width: 100%;
    --header-height: 60px;
    --main-height: 100%;
    --footer-height: 60px;
}

/* Original styles */
.nue-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;

    width: 100%;
    height: var(--height);
    overflow: hidden;
    position: relative;

    &:has(.nue-main) {
        .nue-header {
            border-bottom: 1px solid var(--divider-color);
        }

        .nue-footer {
            border-top: 1px solid var(--divider-color);
        }
    }
}
