/* variables */

.nue-container {
    --nue-container-height: 100%;
    --nue-container-width: 100%;
}

/* original */

.nue-container {
    width: var(--nue-container-width);
    height: var(--nue-container-height);
    overflow: hidden;
    position: relative;

    &.nue-container--vertical {
        &:has(> .nue-header) > .nue-main {
            border-top: 1px solid var(--nue-ui-border-color);
        }

        &:has(> .nue-footer) > .nue-main {
            border-bottom: 1px solid var(--nue-ui-border-color);
        }
    }

    &.nue-container--horizontal {
        &:has(> .nue-header) > .nue-main {
            border-left: 1px solid var(--nue-ui-border-color);
        }

        &:has(> .nue-footer) > .nue-main {
            border-right: 1px solid var(--nue-ui-border-color);
        }
    }
}

/* flex */

.nue-container--flex {
    display: flex !important;

    &.nue-container--vertical {
        flex-direction: column;
        flex-wrap: nowrap;

        & > .nue-footer,
        & > .nue-header {
            height: auto;
            width: 100%;
            flex: none;
            padding: 16px;
        }

        & > .nue-main {
            flex: auto;
        }
    }

    &.nue-container--horizontal {
        flex-direction: row;
        flex-wrap: nowrap;

        & > .nue-header,
        & > .nue-footer {
            padding: 16px;
            height: 100%;
            width: auto;
            flex-direction: column;
            flex: none;
            align-items: start;
        }

        & > .nue-main {
            flex: auto;
        }
    }
}

/* grid */

.nue-container--grid {
    display: grid;

    & > .nue-header {
        grid-area: header;
    }

    & > .nue-footer {
        grid-area: footer;
    }

    & > .nue-main {
        grid-area: main;
    }

    &.nue-container--vertical {
        grid-template-areas: 'header' 'main' 'footer';
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
    }

    &.nue-container--horizontal {
        grid-template-areas: 'header main footer';
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;

        & > .nue-header {
            --nue-header-width: auto;
            --nue-header-height: 100%;
            flex-direction: column;

            .nue-header__slot {
                padding: 16px 0;
                flex-direction: column;
                align-items: center;
                height: auto;

                .nue-link--btnlike {
                    padding: 8px;
                    justify-content: center;
                    aspect-ratio: 1;

                    &:has(.nue-icon) .nue-link__content {
                        display: none;
                    }
                }
            }
        }

        & > .nue-footer {
            --nue-footer-width: auto;
            --nue-footer-height: 100%;
            flex-direction: column;
        }
    }
}

/* inner */

.nue-container--inner {
    height: auto !important;
    flex: auto;
}
