/* variables */

.nue-footer {
    --nue-footer-width: 100%;
    --nue-footer-height: 60px;
}

/* original */

.nue-footer {
    display: flex;
    align-items: center;
    gap: var(--nue-ui-primary-gap);
    box-sizing: border-box;
    width: var(--nue-footer-width);
    height: var(--nue-footer-height);
    padding: var(--nue-ui-primary-padding);
    flex: none;
}
