/* variables */

.nue-header {
    --nue-header-width: 100%;
    --nue-header-height: auto;
}

/* original */

.nue-header {
    display: flex;
    align-items: center;
    gap: calc(var(--nue-primary-gap) * 2);
    box-sizing: border-box;
    width: var(--nue-header-width);
    height: var(--nue-header-height);
    padding: var(--nue-primary-padding);
    flex: none;

    .nue-header__slot {
        height: 100%;
        display: flex;
        align-items: center;
        gap: var(--nue-secondary-padding);
        overflow: hidden;
        flex: none;
    }

    .nue-header__logo {
        font-size: var(--nue-text-md);
    }

    .nue-header__navigators {
        flex: auto;
        gap: 0.5rem;

        .nue-link--btnlike,
        .nue-link--rl {
            --flex: none;
        }
    }
}
