/* variables */

.nue-main {
}

/* original */

.nue-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;

    .nue-main__content {
        flex: auto;
        overflow: auto;
        box-sizing: border-box;
        position: relative;
        height: 100%;
        padding: var(--nue-ui-primary-padding);

        .nue-main__aside-visible-controller-bar {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            padding: var(--nue-ui-primary-padding);
            border-bottom: 1px solid var(--nue-ui-border-color);
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            z-index: 2;
        }

        &:has(> .nue-container--inner) {
            padding: 0;
        }
    }
}
