/* Variables */

.nue-main {
    --height: var(--main-height, 100vh);
    --aside-width: 200px;
    --aside-min-width: unset;
    --aside-max-width: unset;
    --content-width: 100%;
    --padding-x: 16px;

    --aside-grow: 1;
    --aside-gap: 16px;
    --aside-border-color: var(--divider-color);
}

/* Original styles */

.nue-main {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: var(--height);
    position: relative;

    .nue-main__aside {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        box-sizing: border-box;
        flex-grow: var(--aside-grow);
        flex-shrink: 0;
        flex-basis: unset;
        gap: var(--aside-gap);
        width: var(--aside-width);
        min-width: var(--aside-min-width);
        max-width: var(--aside-max-width);
        padding: var(--padding-x);
        border-right: 1px solid var(--aside-border-color);
        position: relative;

        .nue-main__aside__resizer {
            content: "";
            display: block;
            width: 3px;
            height: 14px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            border-left: 2px solid #ccc;
            cursor: col-resize;
            opacity: 0;
            transition: all 0.16s;
        }

        &:hover {
            .nue-main__aside__resizer {
                opacity: 1;
            }
        }
    }

    .nue-main__content {
        overflow: auto;
        box-sizing: border-box;
        position: relative;
        width: var(--content-width);
        height: 100%;
        padding: var(--padding-x);
        z-index: 1;
    }

    .nue-main--resizing {
        & * {
            -webkit-user-select: none;
            user-select: none;
        }

        .nue-main__aside__resizer {
            opacity: 1 !important;
        }
    }
}
