.nue-drawer-overlay {
    .nue-drawer {
        --nue-drawer-span: 32%;
        --nue-drawer-min-span: 18rem;
        --nue-drawer-from-top-open-animation-name: slide-in-from-top;
        --nue-drawer-from-top-open-animation-duration: var(--nue-overlay-animation-duration);
        --nue-drawer-from-top-close-animation-name: slide-out-to-top;
        --nue-drawer-from-top-close-animation-duration: var(--nue-overlay-close-animation-duration);
        --nue-drawer-from-bottom-open-animation-name: slide-in-from-bottom;
        --nue-drawer-from-bottom-open-animation-duration: var(--nue-overlay-animation-duration);
        --nue-drawer-from-bottom-close-animation-name: slide-out-to-bottom;
        --nue-drawer-from-bottom-close-animation-duration: var(
            --nue-overlay-close-animation-duration
        );
        --nue-drawer-from-left-open-animation-name: slide-in-from-left;
        --nue-drawer-from-left-open-animation-duration: var(--nue-overlay-animation-duration);
        --nue-drawer-from-left-close-animation-name: slide-out-to-left;
        --nue-drawer-from-left-close-animation-duration: var(
            --nue-overlay-close-animation-duration
        );
        --nue-drawer-from-right-open-animation-name: slide-in-from-right;
        --nue-drawer-from-right-open-animation-duration: var(--nue-overlay-animation-duration);
        --nue-drawer-from-right-close-animation-name: slide-out-to-right;
        --nue-drawer-from-right-close-animation-duration: var(
            --nue-overlay-close-animation-duration
        );

        position: absolute;
        background-color: white;
        overflow: hidden;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        width: auto;
        height: auto;

        &[data-direction='top'] {
            top: 0;
            left: 0;
            width: 100%;
            height: var(--nue-drawer-span);
            min-height: var(--nue-drawer-min-span);
            transform-origin: top;

            &[data-visible='true'] {
                animation-name: var(--nue-drawer-from-top-open-animation-name);
                animation-duration: var(--nue-drawer-from-top-open-animation-duration);
            }
            &[data-visible='false'] {
                animation-name: var(--nue-drawer-from-top-close-animation-name);
                animation-duration: var(--nue-drawer-from-top-close-animation-duration);
            }
        }

        &[data-direction='bottom'] {
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--nue-drawer-span);
            min-height: var(--nue-drawer-min-span);
            transform-origin: bottom;

            &[data-visible='true'] {
                animation-name: var(--nue-drawer-from-bottom-open-animation-name);
                animation-duration: var(--nue-drawer-from-bottom-open-animation-duration);
            }
            &[data-visible='false'] {
                animation-name: var(--nue-drawer-from-bottom-close-animation-name);
                animation-duration: var(--nue-drawer-from-bottom-close-animation-duration);
            }
        }

        &[data-direction='left'] {
            top: 0;
            left: 0;
            width: var(--nue-drawer-span);
            height: 100%;
            min-width: var(--nue-drawer-min-span);
            transform-origin: left;

            &[data-visible='true'] {
                animation-name: var(--nue-drawer-from-left-open-animation-name);
                animation-duration: var(--nue-drawer-from-left-open-animation-duration);
            }
            &[data-visible='false'] {
                animation-name: var(--nue-drawer-from-left-close-animation-name);
                animation-duration: var(--nue-drawer-from-left-close-animation-duration);
            }
        }

        &[data-direction='right'] {
            top: 0;
            right: 0;
            width: var(--nue-drawer-span);
            height: 100%;
            min-width: var(--nue-drawer-min-span);
            transform-origin: right;

            &[data-visible='true'] {
                animation-name: var(--nue-drawer-from-right-open-animation-name);
                animation-duration: var(--nue-drawer-from-right-open-animation-duration);
            }
            &[data-visible='false'] {
                animation-name: var(--nue-drawer-from-right-close-animation-name);
                animation-duration: var(--nue-drawer-from-right-close-animation-duration);
            }
        }
    }
}

@keyframes slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out-to-top {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes slide-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out-to-bottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-to-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes slide-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-out-to-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
