.nue-drawer-overlay .nue-drawer {
    --nue-drawer-span: 32%;
    --nue-drawer-min-span: 18rem;
    --nue-drawer-top-open-animation-name: drawer-top-open;
    --nue-drawer-top-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-drawer-top-close-animation-name: drawer-top-close;
    --nue-drawer-top-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-drawer-bottom-open-animation-name: drawer-bottom-open;
    --nue-drawer-bottom-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-drawer-bottom-close-animation-name: drawer-bottom-close;
    --nue-drawer-bottom-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-drawer-left-open-animation-name: drawer-left-open;
    --nue-drawer-left-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-drawer-left-close-animation-name: drawer-left-close;
    --nue-drawer-left-close-animation-duration: var(--nue-overlay-close-animation-duration);
    --nue-drawer-right-open-animation-name: drawer-right-open;
    --nue-drawer-right-open-animation-duration: var(--nue-overlay-animation-duration);
    --nue-drawer-right-close-animation-name: drawer-right-close;
    --nue-drawer-right-close-animation-duration: var(--nue-overlay-close-animation-duration);

    position: absolute;
    background-color: white;
    overflow: hidden;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    width: auto;
    height: auto;

    &[data-direction='top'] {
        top: 0;
        left: 0;
        width: 100%;
        height: var(--nue-drawer-span);
        min-height: var(--nue-drawer-min-span);
        transform-origin: top;

        &[data-visible='true'] {
            animation-name: var(--nue-drawer-top-open-animation-name);
            animation-duration: var(--nue-drawer-top-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-drawer-top-close-animation-name);
            animation-duration: var(--nue-drawer-top-close-animation-duration);
        }
    }

    &[data-direction='bottom'] {
        bottom: 0;
        left: 0;
        width: 100%;
        height: var(--nue-drawer-span);
        min-height: var(--nue-drawer-min-span);
        transform-origin: bottom;

        &[data-visible='true'] {
            animation-name: var(--nue-drawer-bottom-open-animation-name);
            animation-duration: var(--nue-drawer-bottom-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-drawer-bottom-close-animation-name);
            animation-duration: var(--nue-drawer-bottom-close-animation-duration);
        }
    }

    &[data-direction='left'] {
        top: 0;
        left: 0;
        width: var(--nue-drawer-span);
        height: 100%;
        min-width: var(--nue-drawer-min-span);
        transform-origin: left;

        &[data-visible='true'] {
            animation-name: var(--nue-drawer-left-open-animation-name);
            animation-duration: var(--nue-drawer-left-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-drawer-left-close-animation-name);
            animation-duration: var(--nue-drawer-left-close-animation-duration);
        }
    }

    &[data-direction='right'] {
        top: 0;
        right: 0;
        width: var(--nue-drawer-span);
        height: 100%;
        min-width: var(--nue-drawer-min-span);
        transform-origin: right;

        &[data-visible='true'] {
            animation-name: var(--nue-drawer-right-open-animation-name);
            animation-duration: var(--nue-drawer-right-open-animation-duration);
        }
        &[data-visible='false'] {
            animation-name: var(--nue-drawer-right-close-animation-name);
            animation-duration: var(--nue-drawer-right-close-animation-duration);
        }
    }
}

@keyframes drawer-top-open {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes drawer-top-close {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes drawer-bottom-open {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes drawer-bottom-close {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes drawer-left-open {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes drawer-left-close {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes drawer-right-open {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes drawer-right-close {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
