.nue-drawer-overlay {
    .nue-drawer {
        position: absolute;
        background-color: #fff;
        transition: all 0.3s ease;
        font-size: 0.875rem;

        .nue-drawer__header {
            height: auto;
            padding: 1rem;
            box-sizing: border-box;

            .nue-drawer__title {
                flex: auto;
                font-size: 1rem;
            }
        }
    }
}
