.nue-dropdown--menu {
    padding: 2px 0;

    .nue-div--block {
        gap: 4px;
        flex-direction: column;
        align-items: stretch;
        padding: 4px;
    }

    .nue-text--title {
        font-size: var(--nue-text-sm);
        font-weight: 500;
        color: var(--nue-primary-color-500);
        padding: 2px 6px;
        margin-bottom: 4px;
        cursor: default;
        user-select: none;
        -webkit-user-select: none;
    }

    .nue-divider {
        width: calc(100% - 8px);
        margin: 0 auto;
    }

    .nue-dropdown-item {
        cursor: pointer;

        .nue-icon {
            --icon-size: var(--nue-text-sm);
        }
    }
}
