.nue-select__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--nue-primary-gap);

    &[data-selected='true'] {
        transition: all 0.2s ease-in-out;
        background-color: var(--nue-primary-color-300);
        border-radius: var(--nue-primary-radius);

        &:hover {
            background-color: var(--nue-primary-color-300);
        }
    }

    &[data-disabled='true'] {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: var(--nue-primary-color-200);

        &:hover {
            background-color: var(--nue-primary-color-200);
        }
    }
}
