/* Variables */

.nue-tooltip {
    --height: 24px;
    --font-size: var(--text-sm);
    --animation-time: 0.16s;
    --triangle-display: none;
}

/* Original */

.nue-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-width: 24px;
    max-width: 36vw;
    padding: 6px 12px;
    position: absolute;
    background-color: var(--primary-color-900);
    border-radius: var(--primary-radius);

    .nue-tooltip__padding {
        position: absolute;
    }

    .nue-tooltip__text {
        color: var(--primary-color-50);
        font-size: var(--font-size);
    }
}

/* Size */

.nue-tooltip {
    &.nue-tooltip--small {
        padding: 4px 8px;
        --font-size: var(--text-xs);
    }

    &.nue-tooltip--large {
        padding: 8px 16px;
        --font-size: var(--text-md);
    }
}

/* Placement */

.nue-tooltip {
    &[data-direction="top"] {
        animation: slide-fade-top var(--animation-time) ease forwards;
        .nue-tooltip__padding {
            width: 100%;
            height: 8px;
            top: 100%;
        }
    }
    &[data-direction="bottom"] {
        animation: slide-fade-bottom var(--animation-time) ease forwards;
        .nue-tooltip__padding {
            width: 100%;
            height: 8px;
            bottom: 100%;
        }
    }
    &[data-direction="left"] {
        animation: slide-fade-left var(--animation-time) ease forwards;
        .nue-tooltip__padding {
            width: 8px;
            height: 100%;
            left: 100%;
        }
    }
    &[data-direction="right"] {
        animation: slide-fade-right var(--animation-time) ease forwards;
        .nue-tooltip__padding {
            width: 8px;
            height: 100%;
            right: 100%;
        }
    }
}

/* Little triangle */

.nue-tooltip {
    &::after {
        content: "";
        display: var(--triangle-display);
        position: absolute;
        aspect-ratio: 1;
        width: 8px;
        height: 8px;
        background: inherit;
        transform-origin: center;
        transform: rotate(45deg);
        border-radius: 1px;
    }
    &.nue-tooltip--top-start {
        &::after {
            top: calc(100% - 4px);
            left: calc(16px - 4px);
        }
    }
    &.nue-tooltip--top-center {
        &::after {
            top: calc(100% - 4px);
            left: calc(50% - 4px);
        }
    }
    &.nue-tooltip--top-end {
        &::after {
            top: calc(100% - 4px);
            right: calc(16px - 4px);
        }
    }
    &.nue-tooltip--bottom-start {
        &::after {
            top: calc(0px - 4px);
            left: calc(16px - 4px);
        }
    }
    &.nue-tooltip--bottom-center {
        &::after {
            top: calc(0px - 4px);
            left: calc(50% - 4px);
        }
    }
    &.nue-tooltip--bottom-end {
        &::after {
            top: calc(0px - 4px);
            right: calc(16px - 4px);
        }
    }
    &.nue-tooltip--left-start {
        &::after {
            top: calc(16px - 4px);
            right: calc(0px - 4px);
        }
    }
    &.nue-tooltip--left-center {
        &::after {
            top: calc(50% - 4px);
            right: calc(0px - 4px);
        }
    }
    &.nue-tooltip--left-end {
        &::after {
            bottom: calc(16px - 4px);
            right: calc(0px - 4px);
        }
    }
    &.nue-tooltip--right-start {
        &::after {
            top: calc(16px - 4px);
            right: calc(100% + 4px);
        }
    }
    &.nue-tooltip--right-center {
        &::after {
            top: calc(50% - 4px);
            right: calc(100% + 4px);
        }
    }
    &.nue-tooltip--right-end {
        &::after {
            bottom: calc(16px - 4px);
            right: calc(100% + 4px);
        }
    }
}
