.nue-tooltip-pool {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    &.nue-tooltip-pool--actived {
        width: 0;
        height: 0;
        z-index: 100;
    }
}

.nue-tooltip-wrapper {
    width: fit-content;
    height: fit-content;
    flex: none;
}

.nue-tooltip {
    --nue-tooltip-wrapper-gap: 1rem;
    --nue-tooltip-min-height: 2.25rem;
    --nue-tooltip-padding: 0.875rem;
    --nue-tooltip-font-size: 0.875rem;
    --nue-tooltip-font-color: #f5f5f5;
    --nue-tooltip-animation-duration: 0.18s;
    --nue-tooltip-triangle-display: none;

    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 36vw;
    height: max-content;
    min-height: var(--nue-tooltip-min-height);
    padding: calc(var(--nue-tooltip-padding) / 2) var(--nue-tooltip-padding);
    position: absolute;
    background-color: #212121;
    border-radius: 6px;
    animation-name: unset;
    animation-duration: var(--nue-tooltip-animation-duration);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    box-sizing: border-box;

    .nue-tooltip__padding {
        position: absolute;
    }

    .nue-tooltip__text {
        color: var(--nue-tooltip-font-color);
        font-size: var(--nue-tooltip-font-size);
        line-height: 1;
    }

    &.nue-tooltip--small {
        --nue-tooltip-min-height: 1.875rem;
        --nue-tooltip-padding: 0.75rem;
        --nue-tooltip-font-size: 0.75rem;
    }

    &.nue-tooltip--large {
        --nue-tooltip-min-height: 2.625rem;
        --nue-tooltip-padding: 1rem;
        --nue-tooltip-font-size: 1rem;
    }

    &[data-direction='top'] {
        animation-name: slide-fade-top;

        .nue-tooltip__padding {
            width: 100%;
            height: 0.5rem;
            top: 100%;
        }
    }

    &[data-direction='bottom'] {
        animation-name: slide-fade-bottom;

        .nue-tooltip__padding {
            width: 100%;
            height: 0.5rem;
            bottom: 100%;
        }
    }

    &[data-direction='left'] {
        animation-name: slide-fade-left;

        .nue-tooltip__padding {
            width: 0.5rem;
            height: 100%;
            left: 100%;
        }
    }

    &[data-direction='right'] {
        animation-name: slide-fade-right;

        .nue-tooltip__padding {
            width: 0.5rem;
            height: 100%;
            right: 100%;
        }
    }

    &::after {
        content: '';
        display: var(--nue-tooltip-triangle-display);
        position: absolute;
        aspect-ratio: 1;
        width: 0.5rem;
        height: 0.5rem;
        background: inherit;
        transform-origin: center;
        transform: rotate(45deg);
        border-radius: 1px;
    }

    &.nue-tooltip--top-start::after {
        top: calc(100% - 0.25rem);
        left: calc(1rem - 0.25rem);
    }

    &.nue-tooltip--top-center::after {
        top: calc(100% - 0.25rem);
        left: calc(50% - 0.25rem);
    }

    &.nue-tooltip--top-end::after {
        top: calc(100% - 0.25rem);
        right: calc(1rem - 0.25rem);
    }

    &.nue-tooltip--bottom-start::after {
        top: calc(0px - 0.25rem);
        left: calc(1rem - 0.25rem);
    }

    &.nue-tooltip--bottom-center::after {
        top: calc(0px - 0.25rem);
        left: calc(50% - 0.25rem);
    }

    &.nue-tooltip--bottom-end::after {
        top: calc(0px - 0.25rem);
        right: calc(1rem - 0.25rem);
    }

    &.nue-tooltip--left-start::after {
        top: calc(1rem - 0.25rem);
        right: calc(0px - 0.25rem);
    }

    &.nue-tooltip--left-center::after {
        top: calc(50% - 0.25rem);
        right: calc(0px - 0.25rem);
    }

    &.nue-tooltip--left-end::after {
        bottom: calc(1rem - 0.25rem);
        right: calc(0px - 0.25rem);
    }

    &.nue-tooltip--right-start::after {
        top: calc(1rem - 0.25rem);
        right: calc(100% + 0.25rem);
    }

    &.nue-tooltip--right-center::after {
        top: calc(50% - 0.25rem);
        right: calc(100% + 0.25rem);
    }

    &.nue-tooltip--right-end::after {
        bottom: calc(1rem - 0.25rem);
        right: calc(100% + 0.25rem);
    }
}

@keyframes slide-fade-out {
    to {
        transform: scale(0.86);
        opacity: 0;
    }
}

@keyframes slide-fade-top {
    0% {
        opacity: 0;
        transform: translateY(var(--nue-tooltip-wrapper-gap));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-fade-bottom {
    0% {
        opacity: 0;
        transform: translateY(calc(0px - var(--nue-tooltip-wrapper-gap)));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-fade-left {
    0% {
        opacity: 0;
        transform: translateX(var(--nue-tooltip-wrapper-gap));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-fade-right {
    0% {
        opacity: 0;
        transform: translateX(calc(0px - var(--nue-tooltip-wrapper-gap)));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
