/* variables */

.nue-input {
    --border-color: var(--nue-ui-divider-color);
    --background-color: transparent;
    --hover-border-color: var(--nue-ui-primary-color-600);
    --hover-background-color: transparent;
    --focus-border-color: var(--nue-ui-primary-color-600);
    --focus-background-color: transparent;
    --focus-shadow: var(--nue-ui-primary-shadow);
    --disabled-color: #9e9e9e;
    --disabled-border-color: var(--nue-ui-divider-color);
    --disabled-background-color: var(--nue-ui-primary-color-100);
    --button-size: var(--font-size);
    --button-color: var(--border-color);
    --button-border-color: var(--border-color);
    --button-hover-color: var(--hover-border-color);
    /* after v0.7.0 */
    --nue-input-vgap: 12px;
    --nue-input-width: auto;
    --nue-input-line-height: 22px;
    --nue-input-font-size: var(--nue-ui-text-default);
    --nue-input-font-color: var(--nue-ui-primary-text-color);
    --nue-input-icon-size: var(--nue-input-font-size);
    --nue-input-icon-color: var(--nue-input-font-color);
}

/* original */

.nue-input {
    display: flex;
    align-items: center;
    /*gap: calc(var(--nue-input-vgap) * 0.5);*/
    gap: var(--nue-input-vgap);
    width: var(--nue-input-width);
    height: auto;
    padding: calc(var(--nue-input-vgap) * 0.5) var(--nue-input-vgap);
    border: 1px solid var(--border-color);
    border-radius: var(--nue-ui-primary-radius);
    background-color: var(--background-color);
    box-shadow: var(--nue-ui-secondary-shadow);
    flex: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: all 0.16s ease;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
        border-color: var(--hover-border-color);
        background-color: var(--hover-background-color);
    }

    &:focus-within {
        border-color: var(--focus-border-color);
        background-color: var(--focus-background-color);
        box-shadow: var(--focus-shadow);
    }

    .nue-input__icon {
        --icon-size: var(--nue-input-icon-size);
    }

    .nue-input__input {
        min-width: 36px;
        height: auto;
        outline: none;
        border: none;
        padding: 0;
        background-color: transparent;
        flex: auto;
        color: var(--nue-input-font-color);
        font-size: var(--nue-input-font-size);
        line-height: var(--nue-input-line-height);
        font-family: inherit;

        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }

        &::placeholder {
            color: var(--nue-ui-primary-color-500);
        }
    }

    .word-counter {
        flex: none;
        color: var(--nue-ui-primary-color-500);
        font-size: var(--nue-ui-text-sm);
    }

    .nue-input__icon-button {
        transition: all 0.16s ease;
        cursor: pointer;
        --icon-color: var(--nue-ui-primary-color-500);

        &:hover {
            --icon-color: var(--nue-ui-primary-color-900);
        }
    }

    &.nue-input--disabled {
        --hover-border-color: var(--disabled-border-color);
        --hover-background-color: var(--disabled-background-color);
        color: var(--disabled-color) !important;
        border-color: var(--disabled-border-color);
        background-color: var(--disabled-background-color);
        cursor: not-allowed;
        -webkit-user-select: none;
        user-select: none;

        & * {
            cursor: not-allowed;
        }
    }
}

.nue-input--rounded {
    border-radius: 999px;
}

.nue-input--noshape {
    padding: 0;
    box-shadow: none;
    --border-color: transparent;
    --background-color: transparent;
    --hover-border-color: transparent;
    --focus-border-color: transparent;
    --focus-shadow: none;
    --disabled-border-color: transparent;
}

.nue-input--small {
    --nue-input-vgap: 8px;
    --nue-input-font-size: var(--nue-ui-text-xs);
    --nue-input-line-height: 19px;
}

.nue-input--large {
    --nue-input-vgap: 16px;
    --nue-input-font-size: var(--nue-ui-text-lg);
    --nue-input-line-height: 27px;
}
