/* Variables */

@import url("./common.css");

/* Original styles */

.nue-input {
    gap: var(--secondary-gap);
    overflow: hidden;
    min-width: var(--min-width);
    height: 36px;

    & .nue-icon {
        --icon-color: var(--dark-primary-color);
    }

    & input {
        display: flex;
        align-items: center;
        width: 100%;
        min-width: calc(var(--font-size) * 5);
        height: var(--input-line-height);
        text-align: var(--text-align);
        line-height: normal;
    }

    & .word-counter {
        padding-left: var(--padding-x);
    }

    &.icon-button {
        cursor: pointer;
    }

    &.nue-input--square {
        border-radius: var(--square-radius);
    }

    &.nue-input--round {
        padding-left: calc(var(--padding-x) + 2px);
        padding-right: calc(var(--padding-x) + 2px);
        border-radius: 999px;
    }

    &.nue-input--no-shape {
        --width: auto;
        --padding-x: 0px;
        --padding-y: 0px;
        --border-color: transparent;
        --hover-border-color: transparent;
        --focus-border-color: transparent;
        --focus-shadow-color: transparent;
        --disabled-border-color: transparent;
    }

    &.nue-input--disabled {
        --hover-border-color: var(--disabled-border-color);
        --hover-background-color: var(--disabled-background-color);

        color: var(--disabled-color) !important;
        border-color: var(--disabled-border-color);
        background-color: var(--disabled-background-color);
        cursor: not-allowed;
        -webkit-user-select: none;
        user-select: none;
        & * {
            cursor: not-allowed;
        }
    }
}

/* Built-in styles */

.nue-input--linear {
    --border-width: 0px;
    --hover-border-color: #8ac7ab;
    --focus-border-color: #42b983;
    --focus-shadow-color: transparent;
    --focus-background-color: transparent;

    transition: all 0.3s;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0px;

    &:focus-within {
        border-bottom: 2px solid #42b983;
    }
}
