/* Variables */

@import url(./common.css);

.nue-textarea {
    --rows: 3;
    --overflow: auto;
    --resize: none;

    --min-height: calc(var(--textarea-line-height) * var(--rows));

    --textarea-line-height: var(--line-height);
    --height: calc(
        var(--line-height) * var(--rows) + var(--padding-y) * 2 +
            calc(var(--border-width) * 2)
    );
}

/* Original styles */

.nue-textarea {
    flex-direction: column;
    overflow: auto;

    & textarea {
        width: 100%;
        max-height: calc(var(--line-height) * var(--rows));
        resize: var(--resize);
        overflow: var(--overflow);
        word-break: break-all;
    }

    & .backend-textarea {
        height: 0px;
        position: absolute;
        top: var(--padding-y);
        left: var(--padding-y);
    }

    & .word-counter {
        position: absolute;
        right: var(--padding-x);
        bottom: var(--padding-y);
    }
}

.nue-textarea--square {
    border-radius: 5px;
}

.nue-textarea--round {
    border-radius: var(--font-size);
    padding-left: calc(var(--padding-y) + var(--padding-x));
    padding-right: calc(var(--padding-y) + var(--padding-x));
}

.nue-textarea--no-shape {
    --width: auto;
    --padding-x: 0px;
    --padding-y: 0px;
    --border-color: transparent;
    --hover-border-color: transparent;
    --focus-border-color: transparent;
    --focus-shadow-color: transparent;
    --disabled-border-color: transparent;
}

.nue-textarea--disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
    user-select: none;
    background-color: var(--disabled-background-color);
    --hover-border-color: var(--disabled-border-color);
    --focus-border-color: var(--disabled-border-color);

    & * {
        cursor: not-allowed;
    }
}

/* Built-in styles */

.nue-textarea--linear {
    transition: all 0.3s;
    border: none;
    border-bottom: 2px solid #cccccc;
    border-radius: 0px;

    --border-width: 0px;
    --padding-y: 4px;
    --hover-border-color: #8ac7ab;
    --focus-border-color: #42b983;
    --focus-shadow-color: transparent;
    --focus-background-color: transparent;

    &:focus-within {
        border: none;
        border-bottom: 2px solid #42b983;
    }
}
