/* variables */

.nue-textarea {
    --rows: 3;
    --resize: none;
    --border-color: var(--nue-ui-divider-color);
    --background-color: transparent;
    --hover-border-color: var(--nue-ui-primary-color-600);
    --hover-background-color: transparent;
    --focus-border-color: var(--nue-ui-primary-color-600);
    --focus-background-color: transparent;
    --focus-shadow: var(--nue-ui-primary-shadow);
    --disabled-color: #9e9e9e;
    --disabled-border-color: var(--nue-ui-divider-color);
    --disabled-background-color: var(--nue-ui-primary-color-100);
    /* after v0.7.0 */
    --nue-textarea-vgap: 12px;
    --nue-textarea-width: auto;
    --nue-textarea-height: calc(var(--nue-textarea-line-height) * var(--rows));
    --nue-textarea-line-height: 22px;
    --nue-textarea-font-size: var(--nue-ui-text-default);
    --nue-textarea-font-color: var(--nue-ui-primary-text-color);
    --nue-textarea-icon-size: var(--nue-textarea-font-size);
    --nue-textarea-icon-color: var(--nue-textarea-font-color);
    --nue-textarea-overflow: auto;
}

/* original */

.nue-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--nue-textarea-vgap) * 0.5) var(--nue-textarea-vgap);
    border: 1px solid var(--border-color);
    border-radius: var(--nue-ui-primary-radius);
    background-color: var(--background-color);
    box-shadow: var(--nue-ui-secondary-shadow);
    flex: auto;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    transition: all 0.16s ease;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
        border-color: var(--hover-border-color);
        background-color: var(--hover-background-color);
    }

    &:focus-within {
        border: 1px solid var(--focus-border-color);
        background-color: var(--focus-background-color);
        box-shadow: var(--focus-shadow);
    }

    .nue-textarea__textarea {
        width: 100%;
        min-height: var(--nue-textarea-line-height);
        padding: 0;
        border: none;
        outline: none;
        overflow: var(--nue-textarea-overflow);
        resize: var(--resize);
        background-color: transparent;
        flex: auto;
        color: var(--nue-textarea-font-color);
        font-size: var(--nue-textarea-font-size);
        line-height: var(--nue-textarea-line-height);
        font-family: inherit;

        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }

        &::placeholder {
            color: inherit;
            opacity: 0.36;
        }
    }

    .nue-textarea__backend-textarea {
        width: 100% !important;
        height: 0 !important;
        min-height: 0 !important;
        opacity: 0 !important;
        resize: none !important;
        overflow: hidden !important;
    }

    .word-counter {
        position: absolute;
        bottom: 4px;
        right: 8px;
        background: white;
        color: var(--nue-ui-primary-color-500);
        font-size: var(--nue-ui-text-sm);
    }

    &.nue-textarea--disabled {
        --hover-border-color: var(--disabled-border-color);
        --hover-background-color: var(--disabled-background-color);
        border-color: var(--disabled-border-color);
        background-color: var(--disabled-background-color);
        cursor: not-allowed;
        -webkit-user-select: none;
        user-select: none;

        & * {
            cursor: not-allowed;
        }
    }
}

.nue-textarea--noshape {
    padding: 0;
    box-shadow: none;
    --width: auto;
    --border-color: transparent;
    --hover-border-color: transparent;
    --focus-border-color: transparent;
    --focus-shadow-color: transparent;
    --focus-shadow: none;
    --disabled-border-color: transparent;
}

.nue-textarea--small {
    --nue-textarea-vgap: 8px;
    --nue-textarea-font-size: var(--nue-ui-text-xs);
    --nue-textarea-line-height: 19px;
}

.nue-textarea--large {
    --nue-textarea-vgap: 16px;
    --nue-textarea-font-size: var(--nue-ui-text-lg);
    --nue-textarea-line-height: 27px;
}
