/* variables */

.nue-textarea {
    --rows: 3;
    --resize: none;
    --vgap: 0.75rem;
    --width: auto;
    --height: calc(var(--line-height) * var(--rows));
    --min-height: 2.25rem;
    --line-height: 1.375rem;
    --font-size: var(--nue-text-sm);
    --font-color: var(--nue-primary-text-color);
    --icon-size: var(--font-size);
    --icon-color: var(--font-color);
    --overflow: auto;
    --border-color: var(--nue-divider-color);
    --background-color: transparent;
    --hover-border-color: var(--nue-primary-color-600);
    --hover-background-color: transparent;
    --focus-border-color: var(--nue-primary-color-600);
    --focus-background-color: transparent;
    --focus-shadow: var(--nue-primary-shadow);
    --disabled-color: #9e9e9e;
    --disabled-border-color: var(--nue-divider-color);
    --disabled-background-color: var(--nue-primary-color-100);
}

/* original */

.nue-textarea {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: fit-content;
    min-height: var(--min-height);
    padding: calc(calc(var(--min-height) - var(--line-height) - 2px) * 0.5)
        var(--vgap);
    border: 1px solid var(--border-color);
    border-radius: var(--nue-primary-radius);
    background-color: var(--background-color);
    box-shadow: var(--nue-secondary-shadow);
    box-sizing: border-box;
    flex: auto;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    transition: all 0.16s ease;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
        border-color: var(--hover-border-color);
        background-color: var(--hover-background-color);
    }

    &:focus-within {
        border: 1px solid var(--focus-border-color);
        background-color: var(--focus-background-color);
        box-shadow: var(--focus-shadow);
    }

    .nue-textarea__textarea {
        min-height: var(--line-height);
        padding: 0;
        border: none;
        outline: none;
        overflow: var(--overflow);
        resize: var(--resize);
        background-color: transparent;
        color: var(--font-color);
        font-size: var(--font-size);
        line-height: var(--line-height);
        font-family: inherit;

        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }

        &::placeholder {
            color: inherit;
            opacity: 0.36;
        }
    }

    .nue-textarea__backend-textarea {
        width: 100% !important;
        height: 0 !important;
        min-height: 0 !important;
        opacity: 0 !important;
        resize: none !important;
        overflow: hidden !important;
        padding: 0 !important;
    }

    .word-counter {
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
        padding: 0 0.25rem;
        border-radius: var(--nue-primary-radius);
        background-color: rgba(200, 200, 200, 0.2);
        color: var(--nue-primary-color-500);
        font-size: var(--nue-text-sm);
    }

    &.nue-textarea--disabled {
        --hover-border-color: var(--disabled-border-color);
        --hover-background-color: var(--disabled-background-color);
        border-color: var(--disabled-border-color);
        background-color: var(--disabled-background-color);
        cursor: not-allowed;
        -webkit-user-select: none;
        user-select: none;

        & * {
            cursor: not-allowed;
        }
    }
}

.nue-textarea--noshape {
    padding: 0;
    box-shadow: none;
    --width: auto;
    --border-color: transparent;
    --hover-border-color: transparent;
    --focus-border-color: transparent;
    --focus-shadow-color: transparent;
    --focus-shadow: none;
    --disabled-border-color: transparent;
}

.nue-textarea--small {
    --vgap: 8px;
    --font-size: var(--nue-text-xs);
    --line-height: 1.1875rem;
    --min-height: 1.75rem;
}

.nue-textarea--large {
    --vgap: 16px;
    --font-size: var(--nue-text-md);
    --line-height: 1.6875rem;
    --min-height: 2.625rem;
}
