/* variables */

.nue-div {
    --flex-direction: row;
    --align-items: start;
    --justify-content: start;
    --flex-wrap: wrap;
    --gap: 16px;
    --flex: none;
    --width: 100%;
    --height: auto;
}

/* original styles */

.nue-div {
    display: flex;
    flex-direction: var(--flex-direction);
    align-items: var(--align-items);
    justify-content: var(--justify-content);
    flex-wrap: var(--flex-wrap);
    gap: var(--gap);
    flex: var(--flex);
    width: var(--width);
    height: var(--height);
    box-sizing: border-box;
    font-size: var(--nue-ui-text-default);
    font-weight: var(--nue-ui-primary-font-weight);
    font-family: var(--nue-ui-primary-font-family) sans-serif;
}

/* built-in styles */

.nue-div--card {
    border: 1px solid var(--nue-ui-divider-color);
    border-radius: var(--nue-ui-primary-radius);
    box-shadow: var(--nue-ui-secondary-shadow);
    padding: var(--nue-ui-primary-padding);
}
