.nue-div {
    --nue-div-width: auto;
    --nue-div-height: auto;
    --nue-div-flex-direction: row;
    --nue-div-gap: 1rem;
    --nue-div-align-items: stretch;
    --nue-div-justify-content: flex-start;
    --nue-div-flex-wrap: nowrap;
    --nue-div-flex: none;
    --nue-div-overflow: visible;

    display: flex;
    box-sizing: border-box;
    width: var(--nue-div-width);
    height: var(--nue-div-height);
    flex-direction: var(--nue-div-flex-direction);
    gap: var(--nue-div-gap);
    align-items: var(--nue-div-align-items);
    justify-content: var(--nue-div-justify-content);
    flex-wrap: var(--nue-div-flex-wrap);
    flex: var(--nue-div-flex);
    overflow: var(--nue-div-overflow);

    &[data-direction='row'] > .nue-div {
        --nue-div-width: fit-content;
    }

    &[data-direction='column'] > .nue-div {
        --nue-div-width: 100%;
    }
}
