.nue-div {
    display: flex;
    box-sizing: border-box;
    width: var(--nue-div-width, auto);
    height: var(--nue-div-height, auto);
    flex-direction: var(--nue-div-flex-direction, row);
    gap: var(--nue-div-gap, 1rem);
    align-items: var(--nue-div-align-items);
    justify-content: var(--nue-div-justify-content);
    flex-wrap: var(--nue-div-flex-wrap, nowrap);
    flex: var(--nue-div-flex, none);
    overflow: var(--nue-div-overflow, hidden);
}
