/* variables */

.nue-avatar {
    --size: 36px;
    --object-fit: cover;
    --background-color: var(--nue-ui-primary-color-400);
}

/* original */

.nue-avatar {
    flex: none;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    aspect-ratio: 1;
    border: none;
    border-radius: var(--border-radius, 4px);
    background-color: var(--background-color);
    color: var(--nue-ui-primary-color-100);

    .nue-avatar__image {
        width: 100%;
        height: 100%;
        line-height: 100%;
        text-align: center;
        object-fit: var(--object-fit);
    }

    .nue-avatar__icon.iconfont::before {
        display: initial;
    }
}

/* rounded */

.nue-avatar--rounded {
    border-radius: 50%;
}
