/* variables */

.nue-avatar {
    --nue-avatar-size: 36px;
    --nue-avatar-object-fit: cover;
}

/* original */

.nue-avatar {
    flex: none;
    width: var(--nue-avatar-size);
    height: var(--nue-avatar-size);
    line-height: var(--nue-avatar-size);
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: var(--nue-primary-color-400);
    color: var(--nue-primary-color-100);

    .nue-avatar__image {
        width: 100%;
        height: 100%;
        line-height: 100%;
        text-align: center;
        object-fit: var(--nue-avatar-object-fit);
    }
}

/* rounded */

.nue-avatar--rounded {
    border-radius: 50%;
}
