.nue-avatar {
    --nue-avatar-size: 2.675rem;
    --nue-avatar-width: var(--nue-avatar-size);
    --nue-avatar-height: var(--nue-avatar-size);
    --nue-avatar-object-fit: cover;
    --nue-avatar-inner-font-size: calc(var(--nue-avatar-height) / 2.75);

    width: var(--nue-avatar-width);
    height: var(--nue-avatar-height);
    line-height: var(--nue-avatar-height);
    background-color: #e0e0e0;
    color: #616161;
    flex: none;
    border-radius: 6px;
    text-align: center;
    box-sizing: border-box;
    font-size: var(--nue-avatar-inner-font-size);
    -webkit-user-select: none;
    user-select: none;

    .nue-avatar__image {
        width: 100%;
        height: 100%;
        object-fit: var(--nue-avatar-object-fit);
        border-radius: 6px;
    }

    .nue-avatar__icon,
    .nue-avatar__text {
        font-size: var(--nue-avatar-inner-font-size);
        line-height: var(--nue-avatar-height);
    }
}
