.nue-progress {
    --nue-progress-flex: auto;
    --nue-progress-stroke-width: 6px;
    --nue-progress-outerbar-background-color: #f1f1f1;
    --nue-progress-innerbar-background-color: #7777ff;
    --nue-progress-text-color: white;
    --nue-progress-circle-size: 100px;
    --nue-progress-stroke-dash-array: 314;
    --nue-progress-stroke-dash-offset: 314;

    flex: var(--nue-progress-flex);
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none;

    .nue-progress--line {
        flex: 1 1 auto;

        .nue-progress__outer-bar {
            background: var(--nue-progress-outerbar-background-color);
            border-radius: var(--nue-progress-stroke-width);
            overflow: hidden;

            .nue-progress__inner-bar {
                box-sizing: border-box;
                transition: width 0.24s linear;
                display: flex;
                align-items: center;
                justify-content: end;
                height: var(--nue-progress-stroke-width);
                background: var(--nue-progress-innerbar-background-color);
                border-radius: var(--nue-progress-stroke-width);

                .nue-text {
                    color: var(--nue-progress-text-color);
                    font-size: calc(0.6 * var(--nue-progress-stroke-width));
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .nue-progress--circle {
        aspect-ratio: 1;
        width: var(--nue-progress-circle-size);
        height: var(--nue-progress-circle-size);

        .nue-progress--circle__circle {
            stroke-width: var(--nue-progress-stroke-width);
            fill: transparent;
            transform-origin: center;
            transform: scale(0.9) rotate(-90deg);
            transition: stroke-dashoffset 0.24s linear;
        }

        .nue-progress__outer-path {
            stroke: var(--nue-progress-outerbar-background-color);
        }

        .nue-progress__inner-path {
            stroke: var(--nue-progress-innerbar-background-color);
            stroke-dasharray: var(--nue-progress-stroke-dash-array);
            stroke-dashoffset: var(--nue-progress-stroke-dash-offset);
            stroke-linecap: round;
        }
    }

    .nue-progress__text {
        width: 42px;
        text-align: right;
        color: inherit;
        font-size: 14px;
    }
}
