/* variables */

.nue-dropdown-wrapper {
    --animation-time: 0.16s;
}

.nue-dropdown {
    --animation-time: 0.16s;
    --font-size: var(--text-sm);
    --inner-padding: 6px 12px;
}

/* original */

.nue-dropdown-wrapper {
    position: relative;
}

.nue-dropdown-wrapper .state-icon {
    transform: rotate(0deg);
    transition: all var(--animation-time) ease-in-out;
}

.nue-dropdown {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    position: absolute;
    width: max-content;
    min-width: 24px;
    max-width: 36vw;
    margin: 0;
    padding: 4px;
    background-color: white;
    border: 1px solid var(--divider-color);
    border-radius: var(--primary-radius);
    box-sizing: border-box;
    box-shadow: var(--secondary-shadow);
    list-style: none;
}

.nue-dropdown.nue-dropdown--hiding {
    animation: slide-fade-out var(--animation-time) ease forwards !important;
}

.nue-dropdown.nue-dropdown--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.nue-dropdown__empty-text {
    font-size: var(--text-xs);
    color: var(--primary-color-600);
    text-align: center;
    padding: var(--inner-padding);
}

.nue-dropdown li,
.nue-dropdown .nue-dropdown-item {
    padding: var(--inner-padding);
    font-size: var(--font-size);
    background-color: transparent;
    border-radius: var(--primary-radius);
    cursor: default;
    box-sizing: border-box;
}

.nue-dropdown li:hover,
.nue-dropdown .nue-dropdown-item:hover {
    background-color: var(--primary-color-200);
}

/* visible */

.nue-dropdown-wrapper[data-visible='true'] .state-icon {
    transform: rotate(180deg);
}

/* size */

.nue-dropdown.nue-dropdown--small {
    --font-size: var(--text-xs);
    --inner-padding: 4px 8px;
}

.nue-dropdown.nue-dropdown--large {
    --font-size: var(--text-md);
    --inner-padding: 8px 16px;
}

/* direction */

.nue-dropdown[data-direction='top'] {
    animation: slide-fade-top var(--animation-time) ease forwards;
}

.nue-dropdown[data-direction='bottom'] {
    animation: slide-fade-bottom var(--animation-time) ease forwards;
}

.nue-dropdown[data-direction='left'] {
    animation: slide-fade-left var(--animation-time) ease forwards;
}

.nue-dropdown[data-direction='right'] {
    animation: slide-fade-right var(--animation-time) ease forwards;
}

/* pool */

.nue-dropdown-pool {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.nue-dropdown-pool--actived {
    width: 0;
    height: 0;
    z-index: 30;
}
