.nue-dropdown-pool {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
}

.nue-dropdown-pool--actived {
    width: 0px;
    height: 0px;
    z-index: 30;
}
