/* Variables */

.nue-dropdown-wrapper {
    --animation-time: 0.16s;
}

.nue-dropdown {
    --animation-time: 0.16s;
    --font-size: var(--text-sm);
    --inner-padding: 6px 12px;
}

/* Original styles */

.nue-dropdown-wrapper {
    position: relative;

    .state-icon {
        transform: rotate(0deg);
        transition: all var(--animation-time) ease-in-out;
    }
}

.nue-dropdown {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    position: absolute;
    width: max-content;
    min-width: 24px;
    max-width: 36vw;
    margin: 0;
    padding: 4px;
    background-color: white;
    border: 1px solid var(--divider-color);
    border-radius: var(--primary-radius);
    box-sizing: border-box;
    box-shadow: var(--secondary-shadow);
    list-style: none;

    &.nue-dropdown--hiding {
        animation: slide-fade-out var(--animation-time) ease forwards !important;
    }

    &.nue-dropdown--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .nue-dropdown__empty-text {
        font-size: var(--text-xs);
        color: var(--primary-color-600);
        text-align: center;
        padding: var(--inner-padding);
    }

    & li,
    & .nue-dropdown-item {
        padding: var(--inner-padding);
        font-size: var(--font-size);
        background-color: transparent;
        border-radius: var(--primary-radius);
        cursor: default;
        box-sizing: border-box;

        &:hover {
            background-color: var(--primary-color-200);
        }
    }
}

/* Visible */

.nue-dropdown-wrapper[data-visible="true"] {
    .state-icon {
        transform: rotate(180deg);
    }
}

/* Size */

.nue-dropdown {
    &.nue-dropdown--small {
        --font-size: var(--text-xs);
        --inner-padding: 4px 8px;
    }

    &.nue-dropdown--large {
        --font-size: var(--text-md);
        --inner-padding: 8px 16px;
    }
}

/* Direction */

.nue-dropdown {
    &[data-direction="top"] {
        animation: slide-fade-top var(--animation-time) ease forwards;
    }
    &[data-direction="bottom"] {
        animation: slide-fade-bottom var(--animation-time) ease forwards;
    }
    &[data-direction="left"] {
        animation: slide-fade-left var(--animation-time) ease forwards;
    }
    &[data-direction="right"] {
        animation: slide-fade-right var(--animation-time) ease forwards;
    }
}
