.nue-input--pure {
    --nue-input-height: auto;
    --nue-input-border-color: transparent;
    --nue-input-border-radius: 0;
    --nue-input-hover-border-color: transparent;
    --nue-input-hover-background-color: transparent;
    --nue-input-focus-border-color: transparent;
    --nue-input-focus-background-color: transparent;
    --nue-input-focus-shadow: none;
    --nue-input-disabled-color: #9e9e9e;
    --nue-input-disabled-border-color: transparent;
    --nue-input-disabled-background-color: transparent;

    box-shadow: none;
    padding: 0;
}
