* {
    font-family:
        'Poppins', 'Noto Sans SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
        'WenQuanYi Micro Hei', sans-serif;
    font-size: var(--nue-text-sm);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    zoom: 1;
}
