name: Test and deploy

on:
    push:
        branches:
            - master

jobs:
    lint:
        name: Run Lint
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3

            - name: Install pnpm
              run: npm install -g pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Run lint
              run: npm run lint

    build:
        name: Build docs
        runs-on: ubuntu-latest
        needs: lint

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3

            - name: Install pnpm
              run: npm install -g pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Build needed packages
              run: pnpm build

            - name: Build docs
              run: pnpm document build

            - name: Upload docs
              uses: actions/upload-artifact@v4
              with:
                  name: docs
                  path: ./apps/document/.vitepress/dist

    deploy:
        name: Deploy to GitHub Pages
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download docs
              uses: actions/download-artifact@v4
              with:
                  name: docs

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.NUEUI_GH_TOKEN }}
                  publish_dir: .
