.nue-avatar {
    --size: 32px;
    --background-color: #c4c4c4;

    --color: white;
    --font-size: 14px;
    --font-weight: normal;
    --font-family: inherit;

    --icon-color: inherit;
    --icon-size: 14px;
    --icon-weight: normal;

    box-sizing: border-box;
    aspect-ratio: 1;

    flex: none;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    overflow: hidden;

    border: none;
    background-color: var(--background-color);

    color: var(--color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);

    & img {
        display: block;
        width: 100%;
        height: 100%;
    }

    & > .iconfont {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        color: var(--icon-color);
        font-size: var(--icon-size);
        font-weight: var(--icon-weight);
    }

    &.nue-avatar--square {
        border-radius: 4px;
    }

    &.nue-avatar--round {
        border-radius: 50%;
    }
}
